<h4 class="text-warning uppercase">Requerimiento de atención por garantía</h4>

{exp:freeform:form
    form_name="atencion_por_garantia"
    return="main/confirm_solicitud"
}
              
<div class="row">
  <div class="col-md-7">
    <div class="form-group">
      <input type="text" placeholder="Tipo de Problema" name="tipo_de_problema" class="uppercase form-control input-lg">
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <select name="ubicacion" id="nueva-solicitud-select" class="form-control input-lg uppercase">
        <option value="">Ubicación</option>
        <option value="Techos">Techos</option>
        <option value="Paredes">Paredes</option>
        <option value="Pasillos">Pasillos</option>
        <option value="Puertas">Puertas</option>
        <option value="Ventanas">Ventanas</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <textarea name="descripcion_problema" class="form-control" rows="7" placeholder="DESCRIPCIÓN DEL PROBLEMA"></textarea>
    </div>
  </div>
</div>
<div class="row mt-14">
  <div class="col-md-7">
    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
      <!--<div class="form-control" data-trigger="fileinput">
      <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span>-->
        Adjuntar foto: Max. 2mb.
        {freeform:field:foto_problema show="1"}
      
      <!--</div>
      <span class="input-group-addon btn btn-default btn-file">
        <span class="fileinput-new"><i class="icon-camera"></i></span>
        <span class="fileinput-exists">Cambiar</span>
        <input type="file" name="foto_problema">
      </span>
      <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Quitar</a>-->
    </div>
  </div>
</div>
<div class="row mt-14">
  <div class="col-md-7">
    <p>¿El daño involucra a otro departamento?</p>
    <div class="form-group">
      <select name="dano_otro_departamento" onchange="mostrardep(this)" 
      id="nueva-solicitud-select" class="form-control input-lg uppercase">
        <option value="no">No</option>
        <option value="si">Sí</option>
      </select>
    </div>
  </div>
</div>

<div id="yes">
  <div class="row mt-14">
    <div class="col-md-9">
      <p>¿Qué departamento?</p>
      <div class="form-group">
        <input type="text" placeholder="Número del departamento" name="nro_otro_departamento_afectado" class="uppercase form-control input-lg">
      </div>
    </div>
  </div>
</div>

<div id="not"></div>

<div class="form-group text-right">
<input type="hidden" name="etapa_solicitud" value="1" >
{exp:member:custom_profile_data}
<input type="hidden" name="departamento_en_consulta" value="{cod_depa}" >
{/exp:member:custom_profile_data}
<input type="hidden" name="email" value="{email}" >
<input type="hidden" name="id_cliente" value="{member_id}" >
  <input type="submit" name="submit" class="btn btn-lg uppercase btn-success" value="Procesar">
</div>
              
    
{/exp:freeform:form}