<?php session_start();
$id_cliente="{member_id}";
$id_sol_garantia="{embed:id_sol_garantia}";

$_SESSION['id_sol_garantia']=$id_sol_garantia;

$result_cond=mysql_query("SELECT * FROM exp_freeform_form_entries_4 WHERE form_field_18=$id_sol_garantia and form_field_19='3' ");
$obten_cond=mysql_fetch_row($result_cond);
$paso_insp = $obten_cond[7];

if ($paso_insp=="open"){ ?>
<div class="viva-alerts clearfix box-shadow mt-14 mb-14">
  <div class="col-sm-1 icon-col">
    <i class="icon-bell"></i>
  </div>
  <div class="col-sm-8 message">
    <strong>Importante:</strong> <span>Usted tiene pendiente agendar una visita de inspección</span>
  </div>
  <div class="col-sm-3 text-right button">

    <form method="post" enctype="multipart/form-data" action="/main/user_request_book/">
      <input type="hidden" name="XID" value="{XID_HASH}" />
      <input type="hidden" name="id_sol_garantia" value="<?php echo $id_sol_garantia; ?>">
      <button type="submit" class="btn btn-sm btn-success" name="submit">Agendar ahora</button>
    </form>

  </div>
</div>
<?php } ?>

<?php 

$result_con2=mysql_query("SELECT * FROM exp_freeform_form_entries_4 WHERE form_field_18=$id_sol_garantia and form_field_19='7' ");
$obten_con2=mysql_fetch_row($result_con2);
$paso_arr = $obten_con2[7];

if ($paso_arr=="open"){ ?>
<div class="viva-alerts clearfix box-shadow mt-14 mb-14">
  <div class="col-sm-1 icon-col">
    <i class="icon-bell"></i>
  </div>
  <div class="col-sm-8 message">
    <strong>Importante:</strong> <span>Usted tiene pendiente agendar una visita de arreglo</span>
  </div>
  <div class="col-sm-3 text-right button">
    <form method="post" enctype="multipart/form-data" action="/main/user_request_fixing/">
      <input type="hidden" name="XID" value="{XID_HASH}" />
      <input type="hidden" name="id_sol_garantia" value="<?php echo $id_sol_garantia; ?>">
      <button type="submit" class="btn btn-sm btn-success" name="submit">Agendar ahora</button>
    </form>

  </div>
</div>
<?php } ?>
