<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{site_name}</title>
  </head>

  <body>
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Gracias por su requerimiento.<p>Mantengase pendiente de sus notificaciones para continuar el proceso.</h3><br><p>
  <img src="{site_url}images/loading.gif">
    </div>
  </div>
  </body>

<?php
// dormir durante 10 segundos
sleep(10);

?>
