    </div>
    <footer class="bg-inverse">
      <div class="container-fluid">
        <div class="row pt-14 pb-14 text-center">
          <div class="col-md-3 pt-7">
            <p class="small">Copyright 2012. VivaGyM.<br>Todos los derechos reservados</p>
          </div>
          <div class="col-md-3 pt-14">
            <a href="{site_url}main/libro_reclamaciones" class="text-gray">Libro de reclamaciones</a>
          </div>
          <div class="col-md-3 pt-14">
            <a href="{site_url}main/preguntas_frecuentes" class="uppercase text-gray">Preguntas frecuentes </a> <i class="icon-help"></i>
          </div>
          <div class="col-md-3 pt-14">
            <!-- <a href="#"  class="uppercase text-gray">Emergencia </a> <i class="icon-warning"></i> -->
          </div>
        </div>
      </div>
    </footer>
    <script src="{site_url}viva-angular/app/bower_components/jquery/dist/jquery.js"></script>
    <script src="{site_url}viva-angular/app/bower_components/angular/angular.js"></script>
    <script src="{site_url}viva-angular/app/bower_components/moment/moment.js"></script>
    <script src="{site_url}viva-angular/app/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="{site_url}viva-angular/app/bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script src="{site_url}viva-angular/app/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="{site_url}viva-angular/app/bower_components/angular-resource/angular-resource.js"></script>
    <script src="{site_url}viva-angular/app/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="{site_url}viva-angular/app/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="{site_url}viva-angular/app/bower_components/angular-route/angular-route.js"></script>

    <script src="{site_url}viva-angular/app/scripts/app.js"></script>
    <script src="{site_url}viva-angular/app/scripts/controllers/user-calendar-controller.js"></script>
    <script src="{site_url}viva-angular/app/scripts/services/viva-calendar.js"></script>
  </body>
</html>
