</div>
<footer class="bg-inverse">
    <div class="container-fluid">
      <div class="row pt-14 pb-14 text-center">
        <div class="col-md-3 pt-7">
          <p class="small">Copyright 2012. VivaGyM.<br>Todos los derechos reservados</p>
        </div>
        <div class="col-md-3 pt-14">
          <a href="#" class="text-gray">Libro de reclamaciones</a>
        </div>
        <div class="col-md-3 pt-14">
          <a href="#" class="uppercase text-gray">Preguntas frecuentes </a> <i class="icon-help"></i>
        </div>
        <div class="col-md-3 pt-14">
          <a href="#"  class="uppercase text-gray">Emergencia </a> <i class="icon-warning"></i>
        </div>
      </div>
    </div>
  </footer>
