<?php $fecha_atencion_ticket=date('d-m-Y'); ?>

<script type="text/javascript">
    function SwitchHiddenDiv(){
      var evento = document.getElementById("SelectedType").options[document.getElementById("SelectedType").selectedIndex].value;
      switch (evento){
        case 'no': 
      document.getElementById('casilla').style.display="block";
      break;
        case 'si':
      document.getElementById('casilla').style.display="block";
      break;
        case '':
        document.getElementById('casilla').style.display="none";
      break;
      }
    }
  </script>
  <script language="javascript">
    function validar(frm){
    if(frm.cliente_ausente.value==""){mensaje1("Responsable",frm.cliente_ausente);return false;}
    // if(frm.contra.value==""){mensaje1("Contraseña",frm.contra);return false;}
    return true;
    }

    function mensaje1(campo,obj)
    {
    msg="Por favor seleccionar una opción para el campo: "+campo+".";
    alert(msg);
    obj.focus();
    }

    function mensaje2(campo, obj, cant) {
    msg = "El campo "+campo+" no debe contener caracteres especiales y como minimo " + cant + " caracteres";
    alert(msg);
    obj.focus();
    }
    </script>
      
{exp:freeform:edit
  form_name="detalles_ticket"
  entry_id="{embed:entry_id}"
  restrict_edit_to_author="no"
  return="main/insp_write_proc/{embed:id_sol_garantia}/{embed:paso}/{embed:id_cliente}/{embed:entry_id}"
  allow_status_edit="yes"
  form:id="frm"
  form:onSubmit="return validar(this)"
}
  <div class="form-group">
    ¿ El responsable se encuentra en el departamento para la inspección ?<p>
    <select name="cliente_ausente" id='SelectedType' onchange="SwitchHiddenDiv()" class="form-control select-override input-sm option-select">
      <option value="">Seleccione</option>
      <option value="si">Sí</option>
      <option value="no">No</option>
    </select>
  </div>
  
  <div class="form-group" id="casilla" style="display:none;">
    <p>Ingresar su informe de inspección</p>
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <span class="btn btn-default btn-file"><span class="fileinput-new">Seleccionar</span><span class="fileinput-exists">Cambiar</span><input type="file" name="informe_inspeccion[]" multiple></span>
        <span class="fileinput-filename"></span>
        <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
      </div>
  </div>

  <div class="text-left button-submit">
    <input type="hidden" name="id_cliente" value="{embed:id_cliente}" >
    <input type="hidden" name="id_sol_garantia" value="{embed:id_sol_garantia}" >
    <input type="hidden" name="paso" value="{embed:paso}" >
    <input type="submit" class="btn uppercase btn-success" name="submit" value="Procesar" />
  </div>

{/exp:freeform:edit}