<?php $fecha_atencion_ticket=date('d-m-Y'); ?>

<script type="text/javascript">
    function SwitchHiddenDiv(){
      var evento = document.getElementById("SelectedType").options[document.getElementById("SelectedType").selectedIndex].value;
      switch (evento){
        case 'no': 
      document.getElementById('casilla').style.display="none";
      break;
        case 'si':
      document.getElementById('casilla').style.display="block";
      break;
        default:
      alert("Seleccione una opción");
      }
    }
  </script>
  
{exp:freeform:edit
  form_name="detalles_ticket"
  entry_id="{embed:entry_id}"
  restrict_edit_to_author="no"
  return="main/insp_write_proc/{embed:id_sol_garantia}/{embed:paso}/{embed:id_cliente}/{embed:entry_id}"
  allow_status_edit="yes" 
}
  <div class="form-group">
    El responsable se encuentra en el inmueble
    <select name="cliente_ausente" id='SelectedType' onchange="SwitchHiddenDiv()" class="form-control select-override input-sm option-select">
      <option value="si">Sí</option>
      <option value="no">No</option>
    </select>
  </div>
  
  <div class="form-group" id="casilla" style="display:block;">
    <p>Ingresar su informe de inspección</p>
    {freeform:field:informe_inspeccion attr:class="pull-left"}
  </div><br>

  <div class="text-left button-submit">
    <input type="hidden" name="id_cliente" value="{embed:id_cliente}" >
    <input type="hidden" name="id_sol_garantia" value="{embed:id_sol_garantia}" >
    <input type="hidden" name="paso" value="{embed:paso}" >
    <input type="submit" class="btn uppercase btn-success" name="submit" value="Procesar" />
  </div>

{/exp:freeform:edit}