<?php $fecha_atencion_ticket=date('d-m-Y'); ?>
{exp:freeform:edit
  form_name="detalles_ticket"
  entry_id="{embed:entry_id}"
  restrict_edit_to_author="no"
  return="main/user_close/{embed:id_sol_garantia}/{embed:paso}/{embed:id_cliente}/{embed:entry_id}"
  allow_status_edit="yes" 
}
  <div class="form-group">
    {freeform:field:informe_inspeccion}
    </div>

  <div class="form-group">
    <p>-</p>
    <textarea name="comentarios" id="" rows="4" class="form-control" placeholder="Ingrese comentarios adicionales acerca de la inspección."></textarea>
    <p class="help-block text-right text-warning">Máximo 250 caracteres</p>
  </div>
  
  <div class="text-left button-submit">
    <input type="hidden" name="status" value="closed" >
    <input type="hidden" name="id_cliente" value="{embed:id_cliente}" >
    <input type="hidden" name="id_sol_garantia" value="{embed:id_sol_garantia}" >
    <input type="hidden" name="paso" value="{embed:paso}" >
    <input type="hidden" name="fecha_atencion_ticket" value="<?php echo $fecha_atencion_ticket; ?>" >
    <input type="submit" class="btn uppercase btn-success" name="submit" value="Subir" />
  </div>

{/exp:freeform:edit}