<?php $id_sol_garantia="{embed:entrada}"; ?>

<table class="table table-hover table-striped mt-14">
  <thead class="uppercase medium">
    <tr>
      <td>Acción</td>
      <td>Estatus</td>
      <td>Día / Hora</td>
      <td>Acción</td>
    </tr>
  </thead> <!-- hacer otro include con los detalles del ticket {embed="includes/detalles_ticket" }-->

 <?php
    $query_long  = "SELECT * FROM exp_freeform_form_entries_4 where form_field_18=$id_sol_garantia ";
    $result_long = mysql_query($query_long);
    ?>
    <?php while ($proy_long = mysql_fetch_array($result_long)) { ?>

    <tbody class="bg-white"> <!-- mover hacia un detalle por q se debe enviar una explicacion al usuario  -->
      <tr>
        <td><?php $entry_id=$proy_long['entry_id']; echo $proy_long['form_field_17']; ?></td>
        <td><?php $var_estatus=$proy_long['status']; if ($var_estatus=="open"){echo "Pendiente";} else {echo "Realizado";}; ?></td>
        <td><?php  $fecha_time=$proy_long['entry_date']; $edit_time=$proy_long['edit_date'];
        if ($fecha_time>0) {echo date('d-m-Y G:i a', $fecha_time); }
        elseif ($edit_time>0) {echo date('d-m-Y G:i a', $edit_time); }  ?></td>
        <td><?php $paso=$proy_long['form_field_19']; ?>

            <!--
          <?php $procede=$proy_long['form_field_27']; if($paso==2){ 
            if (empty($procede)) { ?> <a class="btn btn-sm small btn-default" href="{site_url}index.php/main/<?php echo "viva_approve_sol?id_sol_garantia=".$id_sol_garantia."&acc=si&paso=2"; ?>">Procede</a>
                  <a class="btn btn-sm btn-warning small" href="{site_url}index.php/main/<?php echo "viva_approve_sol?id_sol_garantia=".$id_sol_garantia."&acc=no&paso=2"; ?>">No procede</a>
            <?php } else { echo $procede; } } ?> -->

            <?php $procede=$proy_long['form_field_27']; if($paso==2){ 
            if (empty($procede)) { ?> <a href="{site_url}main/<?php echo "viva_preview_sol?id_sol_garantia=".$id_sol_garantia."&paso=2&entry_id=".$entry_id; ?>" class="btn btn-sm btn-warning small">Ver detalles</a>
            <?php } else { echo $procede; } } ?> 

          <?php if($paso==3){ echo $proy_long['form_field_25']; } ?>

          <?php if($paso==4){ echo $proy_long['form_field_27']; } ?>

          <?php if($paso==5){ ?> <a href="#" class="btn btn-sm btn-warning small">Ver reporte</a> <?php } ?>

          <?php $procedeb=$proy_long['form_field_27']; if($paso==6){ 
            if (empty($procedeb)) { ?> <a href="{site_url}main/<?php echo "viva_preview_fix?id_sol_garantia=".$id_sol_garantia."&paso=6&entry_id=".$entry_id; ?>" class="btn btn-sm small btn-default">Ver detalles</a> <?php } else { echo $procedeb; } } ?>

          <?php if($paso==7){ echo $proy_long['form_field_25']; } ?>

          <?php if($paso==8){ echo $proy_long['form_field_27']; } ?>

          <?php if($paso==9){ ?> <a href="#" class="btn btn-sm btn-warning small">Ver reporte</a> <?php } ?>

          <?php $procedec=$proy_long['form_field_27']; if($paso==10){ 
            if (empty($procedeb)) { ?> <a href="{site_url}main/<?php echo "viva_close/".$id_sol_garantia."/10/".$entry_id; ?>" class="btn btn-sm btn-warning small">Cerrar</a> <?php } else { echo $procedec; } } ?>

        </td>
      </tr>

    </tbody>

    <?php } ; ?>

</table>