<?php $id_sol_garantia="{embed:entrada}"; ?>

<table class="table table-hover table-striped mt-14">
  <thead class="uppercase medium">
    <tr>
      <td>Actividad</td>
      <td>Estatus</td>
      <td>Día / Hora</td>
      <td>Detalle</td>
      <td>Archivo</td>
    </tr>
  </thead> <!-- hacer otro include con los detalles del ticket {embed="includes/detalles_ticket" }-->

    <?php
      $query_long  = "SELECT * FROM exp_freeform_form_entries_4 where form_field_18=$id_sol_garantia and form_field_19=5 ";
      $result_long = mysql_query($query_long);
      ?>
      <?php while ($proy_long = mysql_fetch_array($result_long)) { ?>

      <?php $paso_gen=$proy_long['form_field_19']; ?>
        <?php if ($paso_gen=="5") { ?> 

      <tbody class="bg-white">
        <tr>
          <td><?php $entry_id=$proy_long['entry_id']; $id_cliente=$proy_long['form_field_5']; echo $proy_long['form_field_17']; ?>
          </td>
          
          <td><?php $var_estatus=$proy_long['status']; if ($var_estatus=="open"){
            echo "<span class='label label-danger'>Pendiente</span>";} else {
              echo "<span class='label label-default'>Realizado</span>";}; ?></td>

          <td><?php  $fecha_time=$proy_long['entry_date']; $edit_time=$proy_long['edit_date'];
          if ($fecha_time>0) {echo date('d-m-Y G:i a', $fecha_time); }
          elseif ($edit_time>0) {echo date('d-m-Y G:i a', $edit_time); } ?></td>

          <td><?php $paso=$proy_long['form_field_19']; ?>

            <?php if($paso==2){ echo $proy_long['form_field_27']; } ?>

            <?php if($paso==3){ echo $proy_long['form_field_25']; } ?>

            <?php if($paso==4){ echo $proy_long['form_field_27']; } ?>

            <?php $file=$proy_long['form_field_28']; 
            if($paso==5){ 
              if(!empty($file)){ ?> 
              
              <?php } else { ?>
              <!-- <a href="<?php echo 
              "{site_url}main/insp_load_doc/".$id_sol_garantia."/5/".$id_cliente."/".$entry_id; ?>" 
              class="btn btn-sm btn-warning small">Subir reporte</a> -->

              {embed="includes/form_insp" 
              id_sol_garantia="<?php echo $id_sol_garantia; ?>"
              paso="5"
              id_cliente="<?php echo $id_cliente; ?>"
              entry_id="<?php echo $entry_id; ?>" }


              <?php } } ?>

              <?php if($paso==6){ echo $proy_long['form_field_27']; } ?>

              <?php if($paso==7){ echo $proy_long['form_field_25']; } ?>

              <?php if($paso==8){ echo $proy_long['form_field_27']; } ?>

              <?php if($paso==9){ ?> <a href="#" class="btn btn-sm btn-warning small">Ver reporte</a> 

            <?php } ?>

          </td>
          <td><?php echo $file;?></td>
        </tr>

      </tbody>

      <?php } ?>

    <?php } ; ?>

</table>