<div class="col-md-3 col-sm-3">

	<?php $id_sol_garantia="{embed:entrada}"; ?>

	{exp:freeform:entries form_id="4" search:id_sol_garantia="{embed:entrada}" search:orden_tramite="9" limit="1" status="open" }
		<!-- {freeform:field:accion_ticket}-{freeform:field:id_sol_garantia}-
		{freeform:field:id_cliente}-{freeform:field:orden_tramite} -->

		{if freeform:field:orden_tramite=='9'}
			<?php $paso_nueve="1"; ?>
			<div class="panel">
		    <div class="panel-heading bg-danger">
		      <div class="panel-title text-muted">
		        Acción pendiente
		      </div>
		    </div>
		    <div class="panel-body">
		      <p>Ingresar su informe</p>

		      {embed="includes/form_cons" 
              id_sol_garantia="{embed:entrada}"
              paso="9"
              id_cliente="{freeform:field:id_cliente}"
              entry_id="{freeform:entry_id}" }

		    </div>
		  </div>
		{/if}

	{/exp:freeform:entries}

	<?php if($paso_nueve==0) { ?>
 			<div class="panel">
		    <div class="panel-heading bg-danger">
		      <div class="panel-title text-muted">
		        Acción pendiente
		      </div>
		    </div>
		    <div class="panel-body">
		      <p>No tiene acción pendiente</p>
		    </div>
		  </div>
	<?php } ?>

</div>