<div class="col-md-3 col-sm-3">

<script language="javascript">
function validar(frm){
if(frm.persona_asignada.value==""){mensaje1("Agente",frm.persona_asignada);return false;}
// if(frm.contra.value==""){mensaje1("Contraseña",frm.contra);return false;}
return true;
}

function mensaje1(campo,obj)
{
msg="Por favor seleccionar una opción para el campo: "+campo+".";
alert(msg);
obj.focus();
}

function mensaje2(campo, obj, cant) {
msg = "El campo "+campo+" no debe contener caracteres especiales y como minimo " + cant + " caracteres";
alert(msg);
obj.focus();
}
</script>

	<?php $id_sol_garantia="{embed:entrada}"; ?>

	{exp:freeform:entries form_id="4" search:id_sol_garantia="{embed:entrada}" search:orden_tramite="4" limit="1" status="open"}
		<!-- {freeform:field:accion_ticket}-{freeform:field:id_sol_garantia}-
		{freeform:field:id_cliente}-{freeform:field:orden_tramite} -->

		{if freeform:field:orden_tramite=='4'}
			<?php $paso_cuatro="1"; ?>
			<div class="panel">
		    <div class="panel-heading bg-danger">
		      <div class="panel-title text-muted">
		        Acción pendiente
		      </div>
		    </div>
		    <div class="panel-body">
		      <p>¿Cuál agente será asignado a este caso para la inspeccion?</p>
		      <form method="post" enctype="multipart/form-data" name="frm" id="frm" onSubmit="return validar(this)" action="/?/main/gym_write_insp">
		        <div class="form-group">
		          <select name="persona_asignada" id="" class="form-control input-sm select-override">
		          	<option value="">Seleccione</option>
		          	{exp:user:users group_id="9" search:rol="inspector" }
		          		<option value="{screen_name}">{screen_name}</option>
		          	{/exp:user:users}
              </select>
		        </div>

		        <div class="text-left button-submit">
		        	<input type="hidden" name="id_cliente" value="{freeform:field:id_cliente}" >
				      <input type="hidden" name="id_sol_garantia" value="{embed:entrada}" >
				      <input type="hidden" name="persona_asignada_gym" value="{member_id}" />
				      <input type="hidden" name="XID" value="{XID_HASH}" />
				      <input type="hidden" name="paso" value="4" />
				      <input type="submit" class="btn uppercase btn-success" name="submit" value="Procesar" />
		        </div>
		      </form>
		    </div>
		  </div>
		{/if}

	{/exp:freeform:entries}

	{exp:freeform:entries form_id="4" search:id_sol_garantia="{embed:entrada}" search:orden_tramite="8" limit="1" status="open" }
		<!-- {freeform:field:accion_ticket}-{freeform:field:id_sol_garantia}-
		{freeform:field:id_cliente}-{freeform:field:orden_tramite} -->

		{if freeform:field:orden_tramite=='8'}
			<?php $paso_ocho="1"; ?>
			<div class="panel">
		    <div class="panel-heading bg-danger">
		      <div class="panel-title text-muted">
		        Acción pendiente
		      </div>
		    </div>
		    <div class="panel-body">
		      <p>¿Cuál agente será asignado a este caso para el arreglo?</p>
		      <form method="post" enctype="multipart/form-data" name="frm" id="frm" onSubmit="return validar(this)" action="/?/main/gym_write_insp">
		        <div class="form-group">
		          <select name="persona_asignada" id="" class="form-control input-sm select-override">
                <option value="">Seleccione</option>
		          	{exp:user:users group_id="9" search:rol="ejecutor" }
		          		<option value="{screen_name}">{screen_name}</option>
		          	{/exp:user:users}
              </select>
		        </div>

		        <div class="text-left button-submit">
		        	<input type="hidden" name="id_cliente" value="{freeform:field:id_cliente}" >
				      <input type="hidden" name="id_sol_garantia" value="{embed:entrada}" >
				      <input type="hidden" name="XID" value="{XID_HASH}" />
				      <input type="hidden" name="paso" value="8" />
				      <input type="submit" class="btn uppercase btn-success" name="submit" value="Procesar" />
		        </div>
		      </form>
		    </div>
		  </div>
		{/if}

	{/exp:freeform:entries}

	<?php if(($paso_cuatro==0) and ($paso_ocho==0)) {?>
 			<div class="panel">
		    <div class="panel-heading bg-danger">
		      <div class="panel-title text-muted">
		        Acción pendiente
		      </div>
		    </div>
		    <div class="panel-body">
		      <p>No tiene acción pendiente</p>
		    </div>
		  </div>
	<?php } ?>

</div>