<div class="col-md-3 col-sm-3">

	<script type="text/javascript">
	  function SwitchHiddenDiv(){
	    var evento = document.getElementById("SelectedType").options[document.getElementById("SelectedType").selectedIndex].value;
	    switch (evento){
	      case 'si-gar': 
	    document.getElementById('casilla').style.display="none";
	    document.getElementById('casillon').style.display="block";
	    break;
	    	case 'si-exc': 
	    document.getElementById('casilla').style.display="none";
	    document.getElementById('casillon').style.display="block";
	    break;
	      case 'no-fmant':
	    document.getElementById('casilla').style.display="block";
	    document.getElementById('casillon').style.display="none";
	    break;
	      case 'no-fgar':
	    document.getElementById('casilla').style.display="block";
	    document.getElementById('casillon').style.display="none";
	    break;

	    }
	  }
	</script>
		<script type="text/javascript">
	  function SwitchHiddenDiv_com(){
	    var evento = document.getElementById("SelectedType").options[document.getElementById("SelectedType").selectedIndex].value;
	    switch (evento){
	      case 'si': 
	    document.getElementById('casilla_com').style.display="none";
	    break;
	      case 'no':
	    document.getElementById('casilla_com').style.display="block";
	    break;
	    }
	  }
	</script>
	<script language="javascript">
		function validar(frm){
		if(frm.aprobar_paso.value==""){mensaje1("Aprobar procedimiento",frm.aprobar_paso);return false;}
		// if(frm.contra.value==""){mensaje1("Contraseña",frm.contra);return false;}
		return true;
		}

		function mensaje1(campo,obj)
		{
		msg="Por favor seleccionar una opción para el campo: "+campo+".";
		alert(msg);
		obj.focus();
		}

		function mensaje2(campo, obj, cant) {
		msg = "El campo "+campo+" no debe contener caracteres especiales y como minimo " + cant + " caracteres";
		alert(msg);
		obj.focus();
		}
		</script>
	<?php $id_sol_garantia="{embed:entrada}"; ?>

	{exp:freeform:entries form_id="4" search:id_sol_garantia="{embed:entrada}" search:orden_tramite="2" limit="1" status="open" }
		<!-- {freeform:field:accion_ticket}-{freeform:field:id_sol_garantia}-
		{freeform:field:id_cliente}-{freeform:field:orden_tramite} -->

		{if freeform:field:orden_tramite=='2'}
			<?php $paso_dos=1; ?>
			<div class="panel">
		    <div class="panel-heading bg-danger">
		      <div class="panel-title text-muted">
		        Acción pendiente
		      </div>
		    </div>
		    <div class="panel-body">
		      <p>¿Procede la visita de inspección?</p>
		      <form method="post" enctype="multipart/form-data" name="frm" id="frm" onSubmit="return validar(this)" action="/?/main/viva_approve_sol">
		        <div class="form-group">
		          <select name="aprobar_paso" id='SelectedType' onchange="SwitchHiddenDiv()" class="form-control select-override input-sm option-select" required>
		            <option value="" selected="selected">Selecciona una opción</option>
		            <option value="si-gar">Procede - Por garantía</option>
		            <option value="si-exc">Procede - Por excepción</option>
		            <option value="no-fmant">No procede - Falta mantenimiento</option>
		            <option value="no-fgar">No procede - Falta de garantía</option>
		          </select>
		        </div>

		        <div class="form-group" id="casilla" style="display:none;">
				      <textarea name="comentarios" id="" rows="4" class="form-control" placeholder="En caso No proceda la inpección por favor detallar las razones, este texto sera enviado en un correo al usuario."></textarea>
				      <p class="help-block text-right text-warning">Máximo 250 caracteres</p>
				    </div>

		        <div class="form-group" id="casillon" style="display:none;">
		        	<p>¿Cual es la prioridad del caso?</p>
		          <select name="prioridad" class="form-control select-override input-sm option-select">
		            <option value="0" >Normal</option>
		            <option value="1" >Prioritario</option>
		          </select>
		        </div>

		        <div class="text-left button-submit">
		        	<input type="hidden" name="id_cliente" value="{freeform:field:id_cliente}" >
				      <input type="hidden" name="id_sol_garantia" value="{embed:entrada}" >
				      <input type="hidden" name="persona_asignada_viva" value="{member_id}" />
				      <input type="hidden" name="XID" value="{XID_HASH}" />
				      <input type="submit" class="btn uppercase btn-success" name="submit" value="Procesar" />
		        </div>
		      </form>
		    </div>
		  </div>
		{/if}

	{/exp:freeform:entries}

	{exp:freeform:entries form_id="4" search:id_sol_garantia="{embed:entrada}" search:orden_tramite="6" limit="1" status="open" }
		{if freeform:field:orden_tramite=='6'}
			<?php $paso_seis=1; ?>
			<div class="panel">
		    <div class="panel-heading bg-danger">
		      <div class="panel-title text-muted">
		        Acción pendiente
		      </div>
		    </div>
		    <div class="panel-body">
		      <p>¿Procede el arreglo de este caso?</p>
		      <form method="post" enctype="multipart/form-data" name="frm" id="frm" onSubmit="return validar(this)" action="/?/main/viva_approve_fix">
		        <div class="form-group">
		          <select name="aprobar_paso" id='SelectedType' onchange="SwitchHiddenDiv_com()" class="form-control select-override input-sm option-select" required>
		            <option value="" selected="selected">Selecciona una opción</option>
		            <option value="si">Sí</option>
		            <option value="no">No</option>
		          </select>
		        </div>

		        <div class="form-group" id="casilla_com" style="display:none;">
				      <textarea name="comentarios" id="" rows="4" class="form-control" placeholder="En caso No proceda el arreglo por favor detallar las razones, este texto sera enviado en un correo al usuario."></textarea>
				      <p class="help-block text-right text-warning">Máximo 250 caracteres</p>
				    </div>

		        <div class="text-left button-submit">
		        	<input type="hidden" name="id_cliente" value="{freeform:field:id_cliente}" >
				      <input type="hidden" name="id_sol_garantia" value="{embed:entrada}" >
				      <input type="hidden" name="XID" value="{XID_HASH}" />
				      <input type="submit" class="btn uppercase btn-success" name="submit" value="Procesar" />
		        </div>
		      </form>
		    </div>
		  </div>
		{/if}
	{/exp:freeform:entries}

	{exp:freeform:entries form_id="4" search:id_sol_garantia="{embed:entrada}" search:orden_tramite="10" limit="1" status="open" }
		<!-- {freeform:field:accion_ticket}-{freeform:field:id_sol_garantia}-
		{freeform:field:id_cliente}-{freeform:field:orden_tramite} --> 

		{if freeform:field:orden_tramite=='10'}
			<?php $paso_diez=1; ?>
			<div class="panel">
		    <div class="panel-heading bg-danger">
		      <div class="panel-title text-muted">
		        Acción pendiente
		      </div>
		    </div>
		    <div class="panel-body">
		      <p>¿Desea cerrar el caso?</p>
		      <form method="post" enctype="multipart/form-data" name="frm" id="frm" action="/?/main/viva_close">

		        <div class="text-left button-submit">
		        	<input type="hidden" name="id_cliente" value="{freeform:field:id_cliente}" >
				      <input type="hidden" name="id_sol_garantia" value="{embed:entrada}" >
				      <input type="hidden" name="entry_id" value="{freeform:entry_id}" >
				      <input type="hidden" name="XID" value="{XID_HASH}" />
				      <input type="submit" class="btn uppercase btn-success" name="submit" value="Cerrar" />
		        </div>
		      </form>
		    </div>
		  </div>
		{/if}

	{/exp:freeform:entries}

	{exp:freeform:entries form_id="4" search:id_sol_garantia="{embed:entrada}" search:orden_tramite="3" limit="1" status="open" }

		{if freeform:field:orden_tramite=='3'}
			<?php $paso_tres=1; ?>
			<div class="panel">
		    <div class="panel-heading bg-danger">
		      <div class="panel-title text-muted">
		        Acción pendiente
		      </div>
		    </div>
		    <div class="panel-body">
		      <p>Agendar visita de inspección</p>
		      <form method="post" enctype="multipart/form-data" name="frm" id="frm" action="/?/main/guardar_3er_paso">

		      	<div class="form-group">
		      		<input type="text" class="form-control" placeholder="DD-MM-AAAA" name="fecha_atencion_ticket" required>
				    </div>

				    <div class="form-group">
		      		<small>Asigna a alguien para coordinar el arreglo <a data-toggle="collapse" href="#form-collapse" class="underline">aquí</a></small> 
				    </div>

				    <div id="form-collapse" class="collapse">
					    <div class="form-group">
			      		<small>Relacion con el dueño del departamento</small> 
	              <select name="relacion_dueno_departamento" class="form-control select-override">
	                <option value="">Seleccione</option>
	                <option value="Familiar" >Familiar</option>
	                <option value="Amigo" >Amigo</option>
	              </select>
					    </div>

					    <div class="form-group">
			      		<small>Nombre del encargado de la atención</small> 
	              <input type="text" placeholder="Nombre" name="nombre_encargado_atencion" class=" form-control" >
					    </div>

					    <div class="form-group">
			      		<small>Celular del encargado de la atención</small> 
	              <input type="text" placeholder="Celular" name="celular_encargado_atencion" class=" form-control">
					    </div>

					    <div class="form-group">
			      		<small>Correo electrónico del encargado de la atención</small> 
	              <input type="email" placeholder="Correo electrónico" name="email_encargado_atencion" class=" form-control">
					    </div>
					  </div>

		        <div class="text-left button-submit">
		        	<input type="hidden" name="id_cliente" value="{freeform:field:id_cliente}" >
				      <input type="hidden" name="id_sol_garantia" value="{embed:entrada}" >
				      <input type="hidden" name="entry_id" value="{freeform:entry_id}" >
				      <input type="hidden" name="orden_tramite" value="2">
				      <input type="hidden" name="XID" value="{XID_HASH}" />
				      {exp:member:custom_profile_data}
				      <input type="hidden" name="admin_id" value="{member_id}">
				      {/exp:member:custom_profile_data}
				      <input type="submit" class="btn uppercase btn-success" name="submit" value="Agendar" />

		        </div>
		      </form>
		    </div>
		  </div>
		{/if}

	{/exp:freeform:entries}

	{exp:freeform:entries form_id="4" search:id_sol_garantia="{embed:entrada}" search:orden_tramite="7" limit="1" status="open" }
		<!-- {freeform:field:accion_ticket}-{freeform:field:id_sol_garantia}-
		{freeform:field:id_cliente}-{freeform:field:orden_tramite} --> 

		{if freeform:field:orden_tramite=='7'}
			<?php $paso_siete=1; ?>
			<div class="panel">
		    <div class="panel-heading bg-danger">
		      <div class="panel-title text-muted">
		        Acción pendiente
		      </div>
		    </div>
		    <div class="panel-body">
		      <p>Agendar visita de arreglo</p>
		      <form method="post" enctype="multipart/form-data" name="frm" id="frm" action="/?/main/guardar_4to_paso">

		      	<div class="form-group">
		      		<input type="text" class="form-control" placeholder="DD-MM-AAAA" name="fecha_atencion_ticket">
				    </div>

				    <div class="form-group">
		      		<small>Asigna a alguien para coordinar el arreglo <a data-toggle="collapse" href="#form-collapse" class="underline">aquí</a></small> 
				    </div>

				    <div id="form-collapse" class="collapse">
				    	<div class="form-group">
			      		<small>Relacion con el dueño del departamento</small> 
	              <select name="relacion_dueno_departamento" class="form-control select-override">
	                <option value="">Seleccione</option>
	                <option value="Familiar" >Familiar</option>
	                <option value="Amigo" >Amigo</option>
	              </select>
					    </div>

					    <div class="form-group">
			      		<small>Nombre del encargado de la atención</small> 
	              <input type="text" placeholder="Nombre" name="nombre_encargado_atencion" class=" form-control" >
					    </div>

					    <div class="form-group">
			      		<small>Celular del encargado de la atención</small> 
	              <input type="text" placeholder="Celular" name="celular_encargado_atencion" class=" form-control" >
					    </div>

					    <div class="form-group">
			      		<small>Correo electrónico del encargado de la atención</small> 
	              <input type="email" placeholder="Correo electrónico" name="email_encargado_atencion" class=" form-control" >
					    </div>
					  </div>

		        <div class="text-left button-submit">
		        	<input type="hidden" name="id_cliente" value="{freeform:field:id_cliente}" >
				      <input type="hidden" name="id_sol_garantia" value="{embed:entrada}" >
				      <input type="hidden" name="entry_id" value="{freeform:entry_id}" >
				      <input type="hidden" name="orden_tramite" value="7">
				      <input type="hidden" name="XID" value="{XID_HASH}" />
				      {exp:member:custom_profile_data}
				      <input type="hidden" name="admin_id" value="{member_id}">
				      {/exp:member:custom_profile_data}
				      <input type="submit" class="btn uppercase btn-success" name="submit" value="Agendar" />

		        </div>
		      </form>
		    </div>
		  </div>
		{/if}

	{/exp:freeform:entries} 

	<?php if(($paso_dos==0) and ($paso_seis==0) and ($paso_diez==0) and ($paso_tres==0) and ($paso_siete==0)) {?>
		<div class="panel">
	    <div class="panel-heading bg-danger">
	      <div class="panel-title text-muted">
	        Acción pendiente
	      </div>
	    </div>
	    <div class="panel-body">
	      <p>No tiene acción pendiente</p>
	    </div>
	  </div>
	<?php } ?>

		<!-- edicion de la prioridad y comentarios -->
		<!-- <div class="panel"> 
	    <div class="panel-heading bg-danger">
	      <div class="panel-title text-muted">
	        Prioridad del caso
	      </div>
	    </div>
	    <div class="panel-body">
		     {exp:freeform:edit form_id="2" entry_id="{embed:entrada}"
					  restrict_edit_to_author="no" return="main/ticket_detail/{embed:entrada}" allow_status_edit="yes" }
	        <div class="form-group">
	        	<?php $prioridad="{freeform:edit_data:prioridad}"; ?>
	          <select name="prioridad" class="form-control select-override input-sm option-select">
	            <option value="" >Selecciona una opción</option>
	            <option value="0" <?php if($prioridad==0){echo "selected";} ?>>Normal</option>
	            <option value="1" <?php if($prioridad==1){echo "selected";} ?>>Prioritario</option>
	          </select>
	        </div>

          <div class="form-group">
          	Comentarios adicionales
				    <textarea name="comentarios_garantia" id="" rows="4" class="form-control" placeholder="Ingrese comentarios adicionales.">{freeform:edit_data:comentarios_garantia}</textarea>
				    <p class="help-block text-right text-warning">Máximo 250 caracteres</p>
				  </div>

	        <div class="text-left button-submit">
			      <input type="submit" class="btn uppercase btn-success" name="submit" value="Procesar" />
	        </div>
	      {/exp:freeform:edit}
	    </div>
	  </div> -->

	<!-- {exp:freeform:entries form_id="4" search:id_sol_garantia="{embed:entrada}" search:orden_tramite="5" limit="1" status="closed" }
		{if freeform:field:orden_tramite=='5'}
			<div class="panel">
		    <div class="panel-heading bg-danger">
		      <div class="panel-title text-muted">
		        Comentarios inspección
		      </div>
		    </div>
		    <div class="panel-body">
		    	<textarea name="comentarios" id="" rows="4" class="form-control" placeholder="Ingrese comentarios adicionales.">{freeform:field:comentarios}</textarea>
		    </div>
		  </div>
		{/if}
	{/exp:freeform:entries}

	{exp:freeform:entries form_id="4" search:id_sol_garantia="{embed:entrada}" search:orden_tramite="9" limit="1" status="closed" }
		{if freeform:field:orden_tramite=='9'}
			<div class="panel">
		    <div class="panel-heading bg-danger">
		      <div class="panel-title text-muted">
		        Comentarios arreglo
		      </div>
		    </div>
		    <div class="panel-body">
		    	<textarea name="comentarios" id="" rows="4" class="form-control" placeholder="Ingrese comentarios adicionales.">{freeform:field:comentarios}</textarea>
		    </div>
		  </div>
		{/if}
	{/exp:freeform:entries} -->

	{exp:freeform:entries form_id="4" search:id_sol_garantia="{embed:entrada}" search:orden_tramite="3" limit="1" status="closed"}
		{if freeform:field:dueno_atiende_ticket=='no'}
			<div class="panel">
		    <div class="panel-heading bg-danger">
		      <div class="panel-title text-muted">Contacto inspección</div>
		    </div>
		    <div class="panel-body">
		      <p><li>Relación: {freeform:field:relacion_dueno_departamento}</li>
		          <li>Nombre: {freeform:field:nombre_encargado_atencion}</li>
		          <li>Email: {freeform:field:email_encargado_atencion}</li>
		          <li>Teléfono: {freeform:field:celular_encargado_atencion}</li></p>
		    </div>
			</div>
		{/if}
	{/exp:freeform:entries}

	{exp:freeform:entries form_id="4" search:id_sol_garantia="{embed:entrada}" search:orden_tramite="7" limit="1" status="closed"}
		{if freeform:field:dueno_atiende_ticket=='no'}
			<div class="panel">
		    <div class="panel-heading bg-danger">
		      <div class="panel-title text-muted">Contacto arreglo</div>
		    </div>
		    <div class="panel-body">
		      <p><li>Relación: {freeform:field:relacion_dueno_departamento}</li>
		          <li>Nombre: {freeform:field:nombre_encargado_atencion}</li>
		          <li>Email: {freeform:field:email_encargado_atencion}</li>
		          <li>Teléfono: {freeform:field:celular_encargado_atencion}</li></p>
		    </div>
			</div>
		{/if}
	{/exp:freeform:entries}

</div>