
<table class="table table-hover m-0">

{exp:freeform:entries
    form_id="2"
    orderby="entry_id"
    sort="desc"
    limit="1" status="open|closed"
    paginate="both"
    search:author_id="{last_segment}"
}

	  <thead class="uppercase medium">
	    <tr>
	      <td>Casos</td>
	      <td>Tipo de problema</td>
	      <td>Estatus</td>
	      <td></td>
	    </tr>
	  </thead>
	  

{/exp:freeform:entries}
  
  <tbody>
  
  
<?php $contador_entradas=0; ?>

{exp:freeform:entries
    form_id="2"
    orderby="entry_id"
    sort="desc"
    limit="10" status="open|closed"
    paginate="both"
    search:author_id="{last_segment}"
}


	<?php $contador_entradas++; ?>

	{if freeform:field:descripcion_problema!=''}
    <tr>
      <td><?php echo $id_sol_garantia="{freeform:entry_id}"; ?></td>
      <td>{freeform:field:tipo_de_problema}</td>
      <td>
        <?php $var_est="{freeform:status}"; 
          switch ($var_est) {
            case "pending":
                echo "<span class='label label-default'>Cancelado</span>";
                break;
            case "open":
                echo "<span class='label label-danger'>Pendiente</span>";
                break;
            case "closed":
                echo "<span class='label label-default'>Realizado</span>";
                break;
        }; ?>
      </td>
      <td class="text-center"><a href="<?php echo "user_request_show/$id_sol_garantia"; ?>" class="underline">Ver detalle</a></td>
    </tr>
{/exp:freeform:entries}

  </tbody>
</table>

<?php if ($contador_entradas==0) { ?>
    <p>Aun no tienes solicitudes abiertas. Cuando crees una solicitud podras hacer seguimiento aqui.</p>
<?php } ?>
