<table class="table table-hover m-0">
  <thead class="uppercase medium">
    <tr>
      <td>Caso</td>
      <td>Descripción</td>
      <td>Estatus</td>
      <td></td>
    </tr>
  </thead>
  <tbody>

{exp:freeform:entries
    form_id="2"
    orderby="entry_id"
    sort="desc"
    limit="10" status="open|closed"
    paginate="both"
}
    <tr>
      <td><?php echo $id_sol_garantia="{freeform:entry_id}"; ?></td>
      <td>{freeform:field:descripcion_problema}</td>
      <td><span class="label label-primary">{freeform:status}</span></td>
      <td class="text-center"><a href="<?php echo "user_request_show/$id_sol_garantia"; ?>" class="underline">Ver detalle</a></td>
    </tr>

    {if freeform:no_results}
        <p>Aun no tienes solicitudes abiertas. Cuando crees una solicitud podras hacer seguimiento aqui.</p>
    {/if}

{/exp:freeform:entries}

  </tbody>
</table>