<table class="table table-hover m-0">
 
  <thead class="uppercase medium">
{exp:freeform:entries
  form_id="2"
  orderby="entry_id"
  sort="desc"
  limit="1" status="open|closed"
  paginate="top"
  search:id_cliente="{last_segment}" }    
    <tr>
      <td>N° de caso</td>
      <td>Tipo de requerimiento</td>
      <td>Estatus</td>
      <td></td>
    </tr>
{/exp:freeform:entries}      
  </thead>

  <tbody>

{exp:freeform:entries
  form_id="2"
  orderby="entry_id"
  sort="desc"
  limit="10" status="open|closed"
  paginate="top"
  search:id_cliente="{last_segment}" }
    <tr>
      <td><?php echo $id_sol_garantia="{freeform:entry_id}"; ?></td>
      <td>{freeform:field:tipo_de_problema}</td>
      <td>

        <?php $var_est="{freeform:field:etapa_solicitud}";
        switch ($var_est) {
          case "1":
              echo "<span class='label label-default'>Solicitud en revisión</span>";
              break;
          case "2":
              echo "<span class='label label-default'>Solicitud en revisión</span>";
              break;
          case "3":
              echo "<span class='label label-default'>Inspección pendiente</span>";
              break;
          case "4":
              echo "<span class='label label-default'>Inspección pendiente</span>";
              break;
          case "5":
              echo "<span class='label label-default'>Inspección pendiente</span>";
              break;
          case "6":
              echo "<span class='label label-default'>Informe en revisión</span>";
              break;
          case "7":
              echo "<span class='label label-default'>Arreglo pendiente</span>";
              break;
          case "8":
              echo "<span class='label label-default'>Arreglo pendiente</span>";
              break;
          case "9":
              echo "<span class='label label-default'>Arreglo pendiente</span>";
              break;
          case "10":
              echo "<span class='label label-default'>Caso cerrado</span>";
              break;
          case "11":
              echo "<span class='label label-default'>Caso cerrado</span>";
              break;
        }; ?>

      </td>
      <td class="text-center"><a href="{site_url}main/<?php echo "user_request_show/$id_sol_garantia"; ?>" class="underline">Ver detalle</a></td>
    </tr>

    {if freeform:no_results}
        <p>Aún no tienes solicitudes abiertas. Cuando crees una solicitud podrás hacerle seguimiento aquí.</p>
    {/if}

{/exp:freeform:entries}

  </tbody>
</table>