// USERS HOME
#home {
  width: 100%;
  min-height: 768px;
  background: url(http://162.243.222.54/images/home.jpg) no-repeat top center;
  background-size: 100%;
  @media only screen and (max-width: $screen-phone) and (max-width: $screen-tablet) {
    background-size: auto;
  }
}

// User TOP NAV
#user-profile-pic {
  width: 50px;
  height: auto;
}

// Notifications

#user-notifications {
  width: 50px;
  padding: 14px;
  background: $brand-danger;
  &:hover {
    background: darken($brand-danger, 7%);
  }
}

// Viva Notifications
.viva-notifications {
  .col-xs-3 {
    padding-left: 0;
  }
  span {
    display: block;
    padding: 14px;
    text-align: center;
    color: $text-muted;
  }
  p {
    padding-top: 28px;
  }
  &.viva-notifications-warning {
    border: 2px solid $brand-warning;
    span {
      background: $brand-warning;
      i:before {
        font-family: "icomoon";
        content: "\e62f";
        font-size: em(21);
      }
    }
  }
}

// Viva Alerts 
.viva-alert {
  margin-bottom: 21px;
  position: relative;
  .viva-icon-wrapper {
    text-align: center;
  }
  .viva-icon-wrapper {
    padding: 14px;
    color: $text-muted;
    i:before {
      font-family: "icomoon";
      font-size: em(28);
    }
  }
  p {
    padding-top: 0.99%;
  }
  &.viva-alert-success {
    border: 2px solid $brand-success;
    .viva-icon-wrapper {
      background: $brand-success;
      i:before {
        content: "\e627";
      }
    }
  }
  &.viva-alert-warning {
    border: 2px solid $brand-warning;
    .viva-icon-wrapper {
      background: $brand-warning;
      i:before {
        content: "\e62f";
      }
    }
  }
  &.viva-alert-aside {
    .viva-icon-wrapper {
      i:before {
        font-size: em(21);
      }
    }
    p {
      padding-top: 5%;
    }
  }
  button {
    &.close {
      position: absolute;
      right: 7px;
      z-index: 30;
    }
  }
}

// User SETUP Form-Group Propietario
.form-group-invisible {
  padding: 18px;
}

.fileinput {
  width: 100%;
}

// User Dashboard TAB-PANE "Mi DEPA"
.panel-group {
  a.collapsed-icon {
    &:before {
      font-family: "icomoon";
      content: "\e6d7";
    }
    &.collapsed {
      &:before {
        content: "\e6d6";
      }
    }
  }
}


// USERS PROFILE 
.input-blank {
  @include appearance(none);
  @include box-shadow(none);
  border: none;
  &:focus {
    border: none;
    @include box-shadow(none);
  }
}