# Ignore EE config and database files
system/expressionengine/config/config.php
system/expressionengine/config/database.php
viva-angular/node_modules
viva-angular/dist
viva-angular/.tmp
viva-angular/.sass-cache
viva-angular/app/bower_components
