
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Recupere su Acceso</title>
    <link rel="stylesheet" type="text/css" href="{site_url}stylesheets/viva.css" media="screen" />
    
    <script type="text/javascript" src="{site_url}lib/b3/jquery-2_1_1.js"></script>
    <script type="text/javascript" src="{site_url}lib/b3/tab.js"></script>
    <script type="text/javascript" src="{site_url}lib/b3/transition.js"></script>
    <script type="text/javascript" src="{site_url}lib/b3/collapse.js"></script>
    <script type="text/javascript" src="{site_url}lib/vendor/fileinput.js"></script>
    <script type="text/javascript" src="{site_url}lib/modernizr.js"></script>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="{site_url}img/favicon.ico">

    <!-- WebFonts  -->
    <script type="text/javascript">
      (function(d) {
        var config = {
          kitId: 'kur8suv',
          scriptTimeout: 3000
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

  </head>
  <body>
  <header class="bg-inverse text-muted">
    <div class="container-fluid pt-7 pb-7">
      <div class="row">
        <div class="col-md-4">
          <a href="{site_url}index.php/main/user_select"><img src="{site_url}/images/logo-viva.png" style="width:120px; height: auto;"></a>
        </div>
        <div class="col-md-8 hidden-xs">
          <div class="row">
            <div class="col-xs-11 col-md-11 col-sm-11 text-right">
            </div>
            <div class="col-xs-1 col-md-1 col-sm-1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container-fluid pt-35 pb-35 mh-630">
	
	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
		<h2>Recuperar contraseña</h2>
		<p>
		    Ingrese dos veces su nueva contraseña para actualizarla en el sistema.
		</p>
		 {segment_3}
			{exp:member:reset_password
			    reset_code="{segment_3}"
			    return="user/reset_success"
			}
			    {if user_no_results}
			        <h4>El token de reestablecimiento es invalido.</h4>
			    {/if}

			{/exp:member:reset_password} 
	  </div>
	</div>
	
   </div>
   <footer class="bg-inverse">
	    <div class="container-fluid">
	      <div class="row pt-14 pb-14 text-center">
	        <div class="col-md-3 pt-7">
	          <p class="small">Copyright 2012. VivaGyM.<br>Todos los derechos reservados</p>
	        </div>
	        <div class="col-md-3 pt-14">
	          <a href="#" class="text-gray">Libro de reclamaciones</a>
	        </div>
	        <div class="col-md-3 pt-14">
	          <a href="#" class="uppercase text-gray">Preguntas frecuentes </a> <i class="icon-help"></i>
	        </div>
	        <div class="col-md-3 pt-14">
	          <a href="#"  class="uppercase text-gray">Emergencia </a> <i class="icon-warning"></i>
	        </div>
	      </div>
	    </div>
	</footer>