<h1>Tus notificaciones {screen_name} {member_id}</h1>
{exp:user:stats}
    {exp:freeform:entries
        form_id="4"
        orderby="orden_tramite"
        sort="asc"
        status="open|closed" 
        limit="20"    
        search:id_cliente="{member_id}" 
    }
        {if freeform:no_results}
            <li>No Results</li>
        {/if}
        <li>
            <p><b>PASO NUMERO:</b>&nbsp{freeform:field:orden_tramite}&nbsp<b>Proceso:</b>{freeform:field:accion_ticket}&nbsp <a href="http://162.243.222.54/main/user_request_show/{freeform:field:id_sol_garantia}"> Ver Detalle Aquí</a></p>
        </li>
    {/exp:freeform:entries}
{/exp:user:stats}