{embed="includes/header"}

		{exp:mandrillapp:send_email_viva_close 
		  to="gms122@gmail.com"
		  name="gianfranco"
		  from="admin@gym.com"
		  id_sol_garantia="84"
		  }
		{/exp:mandrillapp:send_email_viva_close}  

		{exp:mandrillapp:send_email_viva_approve_fix 
		  to="gms122@gmail.com"
		  name="gianfranco"
		  from="admin@gym.com"
		  acc="si"
		  id_sol_garantia="84"
		  comentarios="sol_aceptada" }
		{/exp:mandrillapp:send_email_viva_approve_fix}  

		{exp:mandrillapp:send_email_viva_approve_sol 
		  to="gms122@gmail.com"
		  name="gianfranco"
		  from="admin@gym.com"
		  acc="si"
		  id_sol_garantia="84"
		  comentarios="sol_aceptada" }
		{/exp:mandrillapp:send_email_viva_approve_sol}  

		{exp:mandrillapp:send_email_viva_approve_fix 
		  to="gms122@gmail.com"
		  name="gianfranco"
		  from="admin@gym.com"
		  acc="no"
		  id_sol_garantia="84"
		  comentarios="sol_no_aceptada" }
		{/exp:mandrillapp:send_email_viva_approve_fix}  

		{exp:mandrillapp:send_email_viva_approve_sol 
		  to="gms122@gmail.com"
		  name="gianfranco"
		  from="admin@gym.com"
		  acc="no"
		  id_sol_garantia="84"
		  comentarios="sol_no_aceptada" }
		{/exp:mandrillapp:send_email_viva_approve_sol}  


<body>
{email} - {screen_name}
</body>