{exp:user:stats}
  {exp:freeform:entries
    form_id="4"
    orderby="orden_tramite"
    sort="asc"
    status="open" 
    limit="10"    
    search:id_cliente="{member_id}" 
  }
    {if freeform:no_results}
      <a href="{site_url}main/user_request_show/{freeform:field:id_sol_garantia}" class="list-group-item">
        No tiene notificaciones
      </a>
    {/if}
    {if freeform:field:accion_ticket == "Ingresar Solicitud de Inspección"}
      <a href="{site_url}main/user_request_show/{freeform:field:id_sol_garantia}" class="list-group-item">
        Has creado una solicitud #{freeform:field:id_sol_garantia}.
      </a>
    {if:elseif freeform:field:accion_ticket == "Procesar Solicitud de Inspección"}
      <a href="{site_url}main/user_request_show/{freeform:field:id_sol_garantia}" class="list-group-item">
        Has creado una solicitud #{freeform:field:id_sol_garantia}.
      </a>
    {if:elseif freeform:field:accion_ticket == "Agendar Inspección"}
      <a href="{site_url}main/user_request_show/{freeform:field:id_sol_garantia}" class="list-group-item">
        Tu solicitud #{freeform:field:id_sol_garantia} ha sido aprobada para inspección.
      </a>
    {if:elseif freeform:field:accion_ticket == "GyM asignar inspector"}
    <!-- el usuario no ve esto-->
    {if:elseif freeform:field:accion_ticket == "Realizar inspección"}
      <a href="{site_url}main/user_request_show/{freeform:field:id_sol_garantia}" class="list-group-item">
        Has agendado tu visita de inspección para la solictud #{freeform:field:id_sol_garantia}.
      </a>
    {if:elseif freeform:field:accion_ticket == "Procesar Informe de Inspección"}
      <a href="{site_url}main/user_request_show/{freeform:field:id_sol_garantia}" class="list-group-item">
        La inspección de tu solicitud #{freeform:field:id_sol_garantia} ha sido realizada.
      </a>
    {if:elseif freeform:field:accion_ticket == "Agendar Arreglo"}
      <a href="{site_url}main/user_request_show/{freeform:field:id_sol_garantia}" class="list-group-item">
        Tu solicitud #{freeform:field:id_sol_garantia} ha sido aprobada para arreglo.
      </a>
    {if:elseif freeform:field:accion_ticket == "GyM asignar responsable"}
    <!-- el usuario no ve esto -->
    {if:elseif freeform:field:accion_ticket == "Realizar Arreglo"}
      <a href="{site_url}main/user_request_show/{freeform:field:id_sol_garantia}" class="list-group-item">
        Has agendado tu visita de arreglo para la solictud #{freeform:field:id_sol_garantia}.
      </a>
    {if:elseif freeform:field:accion_ticket == "Cerrar el Caso"}
      <a href="{site_url}main/user_request_show/{freeform:field:id_sol_garantia}" class="list-group-item">
        El arreglo de tu solicitud #{freeform:field:id_sol_garantia} ha sido realizado.
      </a>
    {if:elseif freeform:field:accion_ticket == "Completar encuesta de satisfacción"}
      <a href="{site_url}main/user_request_show/{freeform:field:id_sol_garantia}" class="list-group-item">
        Tu solicitud #{freeform:field:id_sol_garantia} ha sido cerrada.
      </a>
    {if:else}
      
    {/if}
  {/exp:freeform:entries}
{/exp:user:stats}