{embed="includes/header" }

{embed="includes/menu_admin" }

<div class="row">
  <div class="col-sm-12">
    <div class="panel bg-white">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <h4 class="uppercase medium"><i class="icon-docs"></i> Calendario arreglos</h4>
          </div>
          <div class="col-sm-3 col-sm-offset-3">
            
          </div>
        </div>
        <hr class="m-0">
      </div>
      <div class="panel-body">

        <table class="table table-hover table-striped">
          <thead>
            <tr class="medium">
              <td>No. de Caso </td>
              <td>Paso</td>
              <td></td>
              <td>Fecha seleccionada</td>
              <td>Dueño</td>
              <td>Complejo</td>
              <td>Torre</td>
              <td>Dpto.</td>
              <td>Estatus</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            {exp:freeform:entries form_id="4" search:orden_tramite="9" limit="50" status="open" }

            <?php $orden="{freeform:field:orden_tramite}"; $paso_resta=$orden-2; ?>
            <tr>
              <td><?php echo $id_sol_garantia="{freeform:field:id_sol_garantia}"; ?></td>

              <td>{freeform:field:accion_ticket}</td>

              <td></td>
              <td>{embed="includes/fecha_paso" ticket="{freeform:field:id_sol_garantia}" orden="<?php echo $paso_resta; ?>"}</td>

              <td>{exp:user:stats member_id="{freeform:field:id_cliente}"}
                  {nombre_propietario} {ap_pat} {ap_mat} 
                  {/exp:user:stats}</td>

              <td>{exp:user:stats member_id="{freeform:field:id_cliente}"}
                  {complejo_depa}
                  {/exp:user:stats}</td>

              <td>{exp:user:stats member_id="{freeform:field:id_cliente}"}
                  {torre_depa}
                  {/exp:user:stats}</td>

              <td>{exp:user:stats member_id="{freeform:field:id_cliente}"}
                  {cod_depa}
                  {/exp:user:stats}</td>
              <td>

                <?php $var_est="{freeform:status}";
                    switch ($var_est) {
                      case "open":
                          echo "<span class='label label-default'>Abierto</span>";
                          break;
                      case "closed":
                          echo "<span class='label label-default'>Cerrado</span>";
                          break;
                      case "pending":
                          echo "<span class='label label-default'>Pendiente</span>";
                          break;
                  }; ?>

              </td>

              <td>
                <a href="{site_url}main/ticket_detail/{freeform:field:id_sol_garantia}" class="small text-danger underline">
                      Ver ticket</a></td>
            </tr>

              {if freeform:no_results}<p>Sin solicitudes pendientes.</p>{/if}
             
              {if freeform:total_pages > 1}
                {freeform:paginate}
                  Página {freeform:current_page}
                  de {freeform:total_pages}
                  páginas &nbsp;
                  {freeform:pagination_links}
                {/freeform:paginate}
              {/if}
              
            {/exp:freeform:entries}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
