{if logged_in}

{exp:member:custom_profile_data}
        Bienvenido: {username}</p>
{/exp:member:custom_profile_data}
<p>

<a href="{path='member/profile'}">Edit your profile</a><br>

<a href="{site_url}index.php/main/nueva_solicitud">Nueva Solicitud</a><br>

{exp:user:logout return="main/index"}
    <a href="{url}">Salir</a>
{/exp:user:logout}
{/if}
{if logged_out}
        Are you a member? Please <a href="{path='member/login'}">log-in</a>.<br>
        Not a member? <a href="{path='member/register'}">Register</a>.<br>
        Have you <a href="{path='member/forgot'}">forgotten your password</a>?
{/if}

