{embed="includes/header" }

{exp:member:custom_profile_data}
<?php $act_datos="{act_datos}"; ?>
{/exp:member:custom_profile_data}

<?php if($act_datos==0) { ?>

{exp:user:edit return="main/envio_primer_correo" }
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4 animated bounceInDown">
			<h3 class="text-center">Bienvenido.</h3>
			<p>Por tu seguridad, debes cambiar tu clave antes de continuar.</p>
			<div class="border-rounded box-shadow bg-white p-14">
				<form>
					<div class="form-group">
						<label for="password">Ingresa tu nueva clave</label>
						<input type="password" name="password" class="form-control">
					</div>
					<div class="form-group">
						<label for="password_confirm">Confirma tu nueva clave</label>
						<input type="password" name="password_confirm" class="form-control">
					</div>
					<div class="form-group">
						<label for="current_password">Ingresa tu clave actual</label>
						<input type="password" name="current_password" class="form-control">
					</div>
					<input type="hidden" name="act_datos" value="1">
					<button type="submit" class="btn btn-success uppercase form-control" value="Actualizar">Actualizar</button>
				</form>
			</div>
		</div>
		<div class="col-sm-4"></div>
	</div>
{/exp:user:edit}

{embed="includes/footer"}

<?php } else { ?>

<script type="text/javascript">
	window.location="user_dashboard/{member_id}";
</script>

<?php } ?>