{embed="includes/header" }
<script type="text/javascript" src="{site_url}lib/vendor/bootstrapValidator.js"></script>
<script type="text/javascript" src="{site_url}lib/user_password_change.js"></script>

		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4 animated bounceInDown">
				<h3 class="text-center">Bienvenido.</h3>
				<p>Por tu seguridad, debes cambiar tu clave antes de continuar.</p>
				<div class="border-rounded box-shadow bg-white p-14">
          {exp:user:edit override_return="main/user_profile_show" form:id="user-password-change-form" }
            <div class="form-group">
              <label class="light" for="password_alt">Ingresa tu nueva clave</label>
              <input type="password" name="password" class="form-control">
            </div>
            <div class="form-group">
              <label class="light" for="password_confirm_alt">Confirma tu nueva clave</label>
              <input type="password" name="password_confirm" class="form-control">
            </div>
            <div class="form-group">
              <label class="text-warning" for="current_password_alt">Ingresa tu clave actual</label>
              <input type="password" name="current_password" class="form-control">
            </div>
            <div class="form-group">
            <input type="hidden" name="act_datos" value="1">
            <button type="submit" class="btn btn-success uppercase form-control" value="Actualizar">Actualizar</button>
            </div>
          {/exp:user:edit}
				</div>
			</div>
			<div class="col-sm-4"></div>
		</div>
	
	</div>
    <footer class="bg-inverse">
      <div class="container-fluid">
        <div class="row pt-14 pb-14 text-center">
          <div class="col-md-3 pt-7">
            <p class="small">Copyright 2014. VivaGyM.<br>Todos los derechos reservados - Versión Beta</p>
          </div>
          <div class="col-md-3 pt-14">
            <a href="{site_url}main/libro_reclamaciones" class="text-gray">Libro de reclamaciones</a>
          </div>
          <div class="col-md-3 pt-14">
            <a href="{site_url}main/preguntas_frecuentes" class="uppercase text-gray">Preguntas frecuentes </a> <i class="icon-help"></i>
          </div>
          <div class="col-md-3 pt-14">
            <!-- <a href="#"  class="uppercase text-gray">Emergencia </a> <i class="icon-warning"></i> -->
          </div>
        </div>
      </div>
    </footer>
</html>

<!--[if IE]>
<script src="{site_url}lib/jquery-1.11.1.min.js"></script>
<![endif]-->