{embed="includes/header"}
<?php

$id_cliente="{member_id}"; ?>

{exp:confirm_sol}


{exp:user:stats}
	{exp:mandrillapp:send_email_confirm_solicitud
	  to="{email_propietario}"
	  name="{nombre_propietario}"
	  subject="Recepción de Solicitud de Requerimientos Viva GyM"
	  from="admin@gym.com"
	  dias="4"}
	{/exp:mandrillapp:send_email_confirm_solicitud}  
{/exp:user:stats}


<div class="container-fluid pt-35 pb-35 mh-630">
	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
		  <h1>Gracias por ingresar una nueva solicitud</h1>
		  <p>Puedes hacerle seguimiento a tu solicitud en la sección de “Mis Solicitudes”</p>
		  <p><a href="{site_url}main/user_dashboard/{member_id}">Ir a Mis Solicitudes</a></p>	  
	  </div>
	</div>
</div>


{embed="includes/footer"}
