{embed="includes/header"}
<?php $id_cliente="{member_id}"; ?>

{exp:confirm_sol:confirm_sol 
	id_cliente="{member_id}" 
	rol="cli" }
{/exp:confirm_sol:confirm_sol}

{exp:member:custom_profile_data}
{member_id}
	{exp:user:stats member_id="{member_id}"}
	{email_propietario}
		{exp:mandrillapp:send_email_confirm_solicitud
		  to="{email_propietario}"
		  name="{nombre_propietario}"
		  from="admin@gym.com"
		  dias="4"
		  member_id="{member_id}"}
		{/exp:mandrillapp:send_email_confirm_solicitud}  
	{/exp:user:stats}
{/exp:member:custom_profile_data} 

<div class="row">
  <div class="col-md-6 col-md-offset-3">
	  <h1>Gracias por ingresar una nueva solicitud</h1>
	  <p>Puedes hacerle seguimiento a tu solicitud en la sección de “Mis Solicitudes”</p>
	  <p><a href="{site_url}main/user_dashboard/{member_id}">Ir a Mis Solicitudes</a></p>	  
  </div>
</div>

{embed="includes/footer"}