{embed="includes/header" }

  {exp:user:stats member_id="{segment_5}"}
    {exp:mandrillapp:send_email_user_close
      to="{email_propietario}"
      name="{nombre_propietario}"
      from="admin@gym.com"
      admin_id="{member_id}"
      cliente_id="{segment_5}"
      id_sol_garantia="{segment_3}"
    }
    {/exp:mandrillapp:send_email_user_close}  
  {/exp:user:stats}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>¡Listo! Se ha notificado al cliente que la visita de arreglo no pudo ser realizada, el cliente deberá agendar nuevamente la visita de arreglo.</h1>
    <p>{embed="main/datos_user" user_id="{segment_5}" }</p>
    <p>Puedes hacerle seguimiento a las solicitudes en la sección de “Panel de control”</p>
    <p><a href="{site_url}main/admin_dashboard">Ir a Panel de control</a></p>   
  </div>
</div>