<?php  

error_reporting(0); 
//include('funciones.php'); 
$year = date('Y');
$site_url="$"."site_url";
$month = date('m');
$dia_actual = date('d');

$month_mas = $month+1;

$id_sol_garantia="$"."id_sol_garantia";

// segunda parte lectura de bd y generacio de archivo

$string_a = '<?php
  $id_sol_garantia=$_GET["id_sol_garantia"];

  echo json_encode(array('
    ;

$string_b = '
  
  ));
  ?>
  ';

  $y=1;
  $libros = array();

  $color="#78BE20";
  $color_txt="black";

  // obtener el id de la fecha actual

  $result=mysql_query("SELECT * FROM eventos WHERE dia_evento=$dia_actual and mes_evento=$month ");
  $obten=mysql_fetch_row($result);
  $id_dia_actual = $obten[0];

  $query_long  = "SELECT * FROM eventos where mes_evento=$month or mes_evento=$month_mas ";
  $result_long = mysql_query($query_long);
  
  while ($proy_long = mysql_fetch_array($result_long)) { 
    $id_evento=$proy_long['id_evento'];
    $dia_evento=$proy_long['dia_evento'];
    $mes_evento=$proy_long['mes_evento'];
    $anio_evento=$proy_long['anio_evento'];
    $nom_evento=$proy_long['nom_evento'];

      $y++;
      if($id_evento>$id_dia_actual){

        if(($nom_evento=="mar") or ($nom_evento=="jue")){
          $libros[$y]="
            array(
                'id' => $id_evento,
                'title' => ".'"'.$dia_evento."-".$mes_evento."-".$anio_evento.'"'.",
                'start' => ".'"'.$anio_evento."-".$mes_evento."-".$dia_evento.'"'.",
                'color' => ".'"'.$color.'"'.", 
                'textColor' => ".'"'.$color_txt.'"'.",
                'url' => ".'"'."$site_url/main/user_request_book/$id_sol_garantia/$dia_evento-$mes_evento-$anio_evento".'"'."
              ),";
        }
      }

    };

//$var_listado=".$"."libros";

//print $str = serialize($libros);
//for ($f = 1; $f <= 62; $f++) { $lista=$lista.$var_listado."[".$f."]";};

$string_con=$string_a.$libros[1].$libros[2].$libros[3].$libros[4].$libros[5].$libros[6].$libros[7].$libros[8].$libros[9].$libros[10].$libros[11].$libros[12].$libros[13].$libros[14].$libros[15].$libros[16].$libros[17].$libros[18].$libros[19].$libros[20].$libros[21].$libros[22].$libros[23].$libros[24].$libros[25].$libros[26].$libros[27].$libros[28].$libros[29].$libros[30].$libros[31].$libros[32].$libros[33].$libros[34].$libros[35].$libros[36].$libros[37].$libros[38].$libros[39].$libros[40].$libros[41].$libros[42].$libros[43].$libros[44].$libros[45].$libros[46].$libros[47].$libros[48].$libros[49].$libros[50].$libros[51].$libros[52].$libros[53].$libros[54].$libros[55].$libros[56].$libros[57].$libros[58].$libros[59].$libros[60].$libros[61].$libros[62].$string_b;

$fp = fopen("../new_fechas_insp.php", "w");
fwrite($fp, $string_con);
fclose($fp);

?>