
{embed="includes/header" }

{exp:get_post_vars parse="inward"}
	{exp:confirm_sol:user_book_insp 
		id_cliente="{post_id_cliente}" 
		relacion_dueno_departamento="{post_relacion_dueno_departamento}"
		fecha_atencion_ticket="{post_fecha_atencion_ticket}"
		hora_atencion_ticket="{post_hora_atencion_ticket}"
		id_sol_garantia="{post_id_sol_garantia}"
		orden_tramite="{post_orden_tramite}"
		prox_paso="{post_prox_paso}"
		nombre_encargado_atencion="{post_nombre_encargado_atencion}"
		celular_encargado_atencion="{post_celular_encargado_atencion}"
		email_encargado_atencion="{post_email_encargado_atencion}"
		admin_id="{post_admin_id}" 
	}
	{/exp:confirm_sol:user_book_insp}
{/exp:get_post_vars}

{exp:get_post_vars parse="inward"}
	{exp:user:stats member_id="{post_id_cliente}" }
		{exp:mandrillapp:send_email_guardar_3er_paso
		  to="{email_propietario}"
		  name="{nombre_propietario}"
		  subject="Visita de inspección agendada."
		  from="admin@gym.com"
		  id_sol_garantia="{post_id_sol_garantia}"
		  fecha_atencion_ticket="{post_fecha_atencion_ticket}"}
		{/exp:mandrillapp:send_email_guardar_3er_paso}  
	{/exp:user:stats}
{/exp:get_post_vars}

{exp:member:custom_profile_data}
  {exp:switchee variable = "{member_group}" parse="inward"}
      {case value="user_dep"}
	      <div class="row">
				  <div class="col-md-6 col-md-offset-3">
					  <h1>Gracias por agendar su visita de inspección</h1>
					  <p>Puedes hacerle seguimiento a tu solicitud en la sección de “Mis Solicitudes”</p>
					  <p><a href="{site_url}main/user_dashboard/{member_id}">Ir a Mis Solicitudes</a></p>	  
				  </div>
				</div>
      {/case}
      {case default="Yes"}
	      <div class="row">
				  <div class="col-md-6 col-md-offset-3">
					  <h1>Gracias por agendar su visita de inspección</h1>
					  <p>Puedes hacerle seguimiento a tu solicitud en la sección de “Mis Solicitudes”</p>
					  <p><a href="{site_url}main/admin_dashboard">Ir a Mis Solicitudes</a></p>	  
				  </div>
				</div>
      {/case}
  {/exp:switchee}
{/exp:member:custom_profile_data} 

<?php session_start();
$_SESSION['id_sol_garantia']="";
?>

{embed="includes/footer"}