{embed="includes/header" }
<?php
$id_cliente=$_POST['id_cliente'];
$relacion_dueno_departamento=$_POST['relacion_dueno_departamento'];
$fecha_atencion_ticket=$_POST['fecha_atencion_ticket'];
$hora_atencion_ticket=$_POST['hora_atencion_ticket'];
$id_sol_garantia=$_POST['id_sol_garantia'];
$orden_tramite=$_POST['orden_tramite'];
$prox_paso=$orden_tramite+1;
$nombre_encargado_atencion=$_POST['nombre_encargado_atencion'];
$celular_encargado_atencion=$_POST['celular_encargado_atencion'];
$email_encargado_atencion=$_POST['email_encargado_atencion'];
$ip=$_SERVER["REMOTE_ADDR"];

// leer email cuando lo tomas de ee no funca
	$result_email=mysql_query("SELECT * FROM exp_members WHERE member_id=$id_cliente");
	$obten_email=mysql_fetch_row($result_email);
	$screen_name = $obten_email[3];
	$dir = $obten_email[9];

$date = date_create();
$entry_date=date_timestamp_get($date);

if ($relacion_dueno_departamento=0){
	$dueno_atiende_ticket="si";
	} else {
	$dueno_atiende_ticket="no";
	}

$resultado=mysql_query("insert into exp_freeform_form_entries_4 
(site_id,author_id,complete,ip_address,entry_date,status,form_field_5,form_field_17,form_field_18,form_field_19) 
values ('1','$id_cliente','y','$ip','','open','$id_cliente','GyM Asignar Inspector','$id_sol_garantia','4')");

$resultadob=mysql_query("insert into exp_freeform_form_entries_4 
(site_id,author_id,complete,ip_address,entry_date,status,form_field_5,form_field_17,form_field_18,form_field_19) 
values ('1','$id_cliente','y','$ip','','open','$id_cliente','Realizar Inspección','$id_sol_garantia','5')");

$sqlUpdate = mysql_query("UPDATE exp_freeform_form_entries_4 
SET status = 'closed',
entry_date = '$entry_date',
form_field_20 = '$dueno_atiende_ticket',
form_field_21 = '$relacion_dueno_departamento',
form_field_22 = '$nombre_encargado_atencion',
form_field_23 = '$celular_encargado_atencion',
form_field_24 = '$email_encargado_atencion',
form_field_25 = '$fecha_atencion_ticket',
form_field_26 = '$hora_atencion_ticket'
WHERE form_field_18 = $id_sol_garantia AND form_field_19 = 3 ");

$sqlUpdate = mysql_query("UPDATE exp_freeform_form_entries_2 
	SET form_field_12 = '4'
	WHERE entry_id = $id_sol_garantia ");

?>
{exp:get_post_vars parse="inward"}
	{exp:user:stats member_id="{post_id_cliente}" }
		{exp:mandrillapp:send_email_guardar_3er_paso
		  to="{email_propietario}"
		  name="{nombre_propietario}"
		  subject="Visita de inspección agendada."
		  from="admin@gym.com"
		  id_sol_garantia="{post_id_sol_garantia}"
		  fecha_atencion_ticket="{post_fecha_atencion_ticket}"}
		{/exp:mandrillapp:send_email_guardar_3er_paso}  
	{/exp:user:stats}
{/exp:get_post_vars}


<div class="row">
  <div class="col-md-6 col-md-offset-3">
	  <h1>Gracias por agendar su visita de inspección</h1>
	  <p>Puedes hacerle seguimiento a tu solicitud en la sección de “Mis Solicitudes”</p>
	  <p><a href="{site_url}main/user_dashboard/{member_id}">Ir a Mis Solicitudes</a></p>	  
  </div>
</div>


{embed="includes/footer"}


