{embed="includes/header" }

<?php

$id_cliente=$_POST['id_cliente'];
$id_sol_garantia=$_POST['id_sol_garantia'];
$persona_asignada_gym=$_POST['persona_asignada_gym'];

$persona_asignada=$_POST['persona_asignada'];

$paso=$_POST['paso'];

$prox_paso=$paso+1;	

$ip=$_SERVER["REMOTE_ADDR"];

$mensaje_asig= "Asignado / ".$persona_asignada;

$date = date_create();
$entry_date=date_timestamp_get($date);

$fecha_act=date('d-m-Y');

if($paso=="4") {

$texto_paso="Realizar inspección";

// enviar este paso a otro archivo 
/*
$resultadoc=mysql_query("insert into exp_freeform_form_entries_4 
(site_id,author_id,complete,ip_address,entry_date,status,form_field_5,form_field_17,form_field_18,form_field_19,form_field_27,form_field_29) 
values ('1','$id_cliente','y','$ip','','open','$id_cliente','Procesar Informe de Inspección','$id_sol_garantia','6','','$comentarios')"); 
*/

$sqlUpdate = mysql_query("UPDATE exp_freeform_form_entries_2 
	SET form_field_12 = '5',
	form_field_13 = '$persona_asignada_gym',
	form_field_30 = '$persona_asignada'
	WHERE entry_id = $id_sol_garantia ");

}

if($paso=="8") {

$texto_paso="Realizar Arreglo";

/*$resultadob=mysql_query("insert into exp_freeform_form_entries_4 
(site_id,author_id,complete,ip_address,entry_date,status,form_field_5,form_field_17,form_field_18,form_field_19) 
values ('1','$id_cliente','y','$ip','','open','$id_cliente','Viva cierra el caso','$id_sol_garantia','10')"); */ 

$sqlUpdate = mysql_query("UPDATE exp_freeform_form_entries_2 
	SET form_field_12 = '8',
	form_field_31 = '$persona_asignada'
	WHERE entry_id = $id_sol_garantia ");

}

/*$resultado=mysql_query("insert into exp_freeform_form_entries_4 
(site_id,author_id,complete,ip_address,entry_date,status,form_field_5,form_field_17,form_field_18,form_field_19) 
values ('1','$id_cliente','y','$ip','','open','$id_cliente','$texto_paso','$id_sol_garantia','$prox_paso')");*/

$sqlUpdate = mysql_query("UPDATE exp_freeform_form_entries_4 
SET status = 'closed',
entry_date = '$entry_date',
form_field_27 = '$mensaje_asig'
WHERE form_field_18 = $id_sol_garantia AND form_field_19 = $paso ");



?>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
	<?php if($paso=="4") { ?> 
	<h1>¡Listo! El Inspector <?php echo $persona_asignada; ?> ha sido asignado a la solicitud #<?php echo $id_sol_garantia; ?></h1>
		<?php } ?>

	<?php if($paso=="8") { ?> 
	<h1>¡Listo! <?php echo $persona_asignada; ?> ha sido asignado para el arreglo de la solicitid #<?php echo $id_sol_garantia; ?></h1>
		<?php } ?>
	  
  <p>Puedes hacerle seguimiento a las solicitudes en la sección de “Panel de control”</p>
  <p><a href="{site_url}main/admin_dashboard">Ir a Panel de control</a></p>	  
  </div>
</div>
