{embed="includes/header" }

{exp:get_post_vars parse="inward"}
	{exp:confirm_sol:gym_write_insp 
		id_cliente="{post_id_cliente}" 
		id_sol_garantia="{post_id_sol_garantia}"
		persona_asignada_gym="{post_persona_asignada_gym}"
		persona_asignada="{post_persona_asignada}"
		paso="{post_paso}"
	}
	{/exp:confirm_sol:gym_write_insp}
{/exp:get_post_vars}

<?php
$id_sol_garantia=$_POST['id_sol_garantia'];
$paso=$_POST['paso'];
$persona_asignada=$_POST['persona_asignada'];
?>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
	<?php if($paso=="4") { ?> 
	<h1>¡Listo! El Inspector <?php echo $persona_asignada; ?> ha sido asignado a la solicitud #<?php echo $id_sol_garantia; ?></h1>
		<?php } ?>

	<?php if($paso=="8") { ?> 
	<h1>¡Listo! El ejecutor <?php echo $persona_asignada; ?> ha sido asignado para el arreglo de la solicitud #<?php echo $id_sol_garantia; ?></h1>
		<?php } ?>
  <p>
		{exp:get_post_vars parse="inward"}
			{embed="main/datos_user" user_id="{post_id_cliente}" }
		{/exp:get_post_vars}</p>
  <p>Puedes hacerle seguimiento a las solicitudes en la sección de “Panel de control”</p>
  <p><a href="{site_url}main/admin_dashboard">Ir a Panel de control</a></p>	  
  </div>
</div>
