<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{site_name}</title>
    <link rel="stylesheet" type="text/css" href="http://162.243.222.54/stylesheets/viva.css" media="screen" />

    <!-- FAVICON -->
  <link rel="shortcut icon" href="img/favicon.ico">

   <!-- WebFonts  -->
  <script type="text/javascript" src="//use.typekit.net/jfc4vgc.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>
  <body>

 {if logged_out}      
<section id="home">
  
    <div class="container pt-21">
      <nav>
        <a href="#"><img src="{site_url}/images/logo-viva.png" style="width:120px; height: auto;"></a>
      </nav>
      <div class="row mt-35-100">
        <div class="col-md-8">
          <h4 class="m-0 text-muted book text-left">La mejor atención de</h4>
          <h3 class="m-0 text-muted text-left">Posventa en Línea</h3>

          <!-- {exp:member:login_form return="{site_url}main/user_select" form_class="form-inline mt-14" } 

            <div class="form-group">
              <input type="text" name="username" class="input-lg form-control" >
            </div>
            <div class="form-group">
              <input type="password" name="password" class="input-lg form-control" >
            </div>
            <input type="hidden" name="XID" value="{XID_HASH}" />
            <input type="submit" class="btn btn-lg btn-success uppercase form-control" name="submit" value="Ingresar">
          
          {/exp:member:login_form} -->

          {exp:authenticate:login_form auth_type="username" username_field="username" return="{site_url}main/user_select" 
          class="form-inline mt-14"}
            
            {if total_global_errors > 0}
            <div class="errors">
              <h4 class="m-0 text-muted book text-left">Errores de autenticación</h4>
              <ul class="bullets">
              {global_errors}
                <li>{error}</li>
              {/global_errors}
              </ul>
            </div>
            {/if}
              
            {if total_field_errors > 0}
            <div class="errors">
              <h4 class="m-0 text-muted book text-left">Errores en los campos</h4>
              <ul class="bullets">
              {field_errors param1="123"}
                <li>{error}</li>
              {/field_errors}
              </ul>
            </div>
            {/if}

            <div class="form-group">
              <input type="text" name="username" id="username" class="input-lg form-control" >
            </div>
            <div class="form-group">
              <input type="password" name="password" id="password" type="password" class="input-lg form-control" >
            </div>

            <input type="submit" class="btn btn-lg btn-success uppercase form-control" name="submit" value="Ingresar">
            
          {/exp:authenticate:login_form}

        </div>
      </div>
      <div class="row">
        <div class="col-md-7 text-left text-muted light">
          <ul class="list-unstyled mt-14">
            <!-- <li><a href="{path='member/forgot_password'}">Olvidé mi usuario</a></li> -->
            <li><a href="{path='member/forgot'}">¿Olvidaste tu contraseña?</a></li>
            <!-- <li><a href="{site_url}main/olvido_contrasena">¿Olvidaste tu contraseña?</a></li> -->
          </ul>
        </div>
      </div>
      <div class="row mt-7-100">
        <div class="col-md-12 text-muted text-left">
          <p>Copyright 2014. VivaGyM. Todos los derechos reservados</p>
        </div>
      </div>
    </div>
    
  </section>

  {/if}

  {if logged_in}
    <script type="text/javascript"> window.location="{site_url}index.php/main/user_select"; </script>
  {/if}


<!--<a href="{path='logout'}">Log Out</a>-->

</body>
</html>
