{embed="includes/header" }

{exp:confirm_sol:insp_write_proc 
	id_sol_garantia="{segment_3}" 
	paso="{segment_4}"
	id_cliente="{segment_5}"
	entry_id="{segment_6}"
}
{/exp:confirm_sol:insp_write_proc}

<?php 
$fecha_atencion_ticket=date('d-m-Y');

$id_sol_garantia="{segment_3}";
$paso="{segment_4}";
$id_cliente="{segment_5}";
$entry_id="{segment_6}";

$ip=$_SERVER["REMOTE_ADDR"];
$date = date_create();
$entry_date=date_timestamp_get($date);

$result_aus=mysql_query("SELECT * FROM exp_freeform_form_entries_4 WHERE form_field_18 = $id_sol_garantia AND form_field_19 = 5 ");
$obten_aus=mysql_fetch_row($result_aus);
$cliente_ausente = $obten_aus[23];

if($cliente_ausente=="si"){

?>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<h1>¡Listo! El informe de inspección de la solicitud #<?php echo $id_sol_garantia; ?> ha sido ingresado</h1>
  	<p>{embed="main/datos_user" user_id="<?php echo $id_cliente; ?>" }</p>
	  <p>Puedes hacerle seguimiento a las solicitudes en la sección de “Panel de control”</p>
	  <p><a href="{site_url}main/admin_dashboard">Ir a Panel de control</a></p>	  
  </div>
</div>

<?php
};

if($cliente_ausente==""){ // colocar el plugin de envio de correos 

?>
<script type="text/javascript">window.location="{site_url}main/correo_no_insp/{segment_3}/{segment_4}/{segment_5}/{member_id}"; </script>
<?php 
}
?>