<?php

	//$year = date('Y');
	//$month = date('m');

	$year = '2014';
	$month = '05';

	$query_rub  = "select * from eventos where mes_evento=5 "; $result_rub = mysql_query($query_rub);

	echo json_encode(array(
		
		while ($row_rub = mysql_fetch_array($result_rub)) {	
		array(
			'id' => 111,
			'title' => $row_rub['hora_evento'],
			'start' => "$year-02-29",
			'color' => "#78BE20", 
			'textColor' => "black",
			'url' => "user_request_show?year=$year&month=$month&day=10&hora=2:00 pm"
		),
		}

	));

?>
