{embed="includes/header"}
  
  {embed="includes/bredcrumbs"}
    
  <div class="row">
    <div class="col-md-3">
      {embed="includes/user_dashboard_aside" seccion="4"}
    </div>
    <div class="col-md-6">
      <div class="panel p-14 box-shadow">
        <div class="panel-heading bg-white p-0">
          <div class="panel-title mb-14">
            <h4 class="uppercase medium"><i class="icon-docs"></i> Libro de reclamaciones</h4>
            <small></small>
            <hr class="mt-7 mb-14">
            {exp:freeform:form form_name="libro_reclamaciones" return="main/confirm_reclamaciones" }
              <div class="row">
                <!-- <div class="col-md-7">
                  <p>Tipo de Problema:</p>
                  <div class="form-group">
                    <select name="tipo_de_problema" class="select-override form-control">
                      <option value="Pisos">Pisos</option>
                      <option value="Paredes">Paredes</option>
                      <option value="Instalaciones eléctricas">Instalaciones eléctricas</option>
                      <option value="Instalaciones sanitarias">Instalaciones sanitarias</option>
                      <option value="Carpintería metálica">Carpintería metálica</option>
                      <option value="Carpintería de madera">Carpintería de madera</option>
                    </select>
                  </div>
                </div> -->
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea name="descripcion_problema" class="form-control" rows="4" placeholder="Describe aquí el reclamo. Por favor se lo más específico posible."></textarea>
                  </div>
                </div>
              </div>

              <div class="form-group" >
                  {exp:member:custom_profile_data}
                  <input type="hidden" name="departamento_en_consulta" value="{cod_depa}" >
                  <input type="hidden" name="sigla_complejo" value="{sigla_complejo}" >
                  {/exp:member:custom_profile_data}
                  <input type="hidden" name="email" value="{email}" >
                  <input type="hidden" name="id_cliente" value="{member_id}" >
                  <input type="submit" name="submit" class="btn uppercase btn-success" value="Procesar" id="grupo_boton">
              </div>
            {/exp:freeform:form}
          </div>
          <hr class="m-0">
        </div>
        <div class="panel-body p-0">

        </div>
      </div>
    </div>
    <div class="col-md-3">
      {embed="includes/user_new_request_aside"}
    </div>
  </div>

{embed="includes/footer"}