
{exp:freeform:entries form_id="2" orderby="{embed:ordenar}" sort="asc" search:etapa_solicitud="{embed:filtro}" status="open|closed" limit="20" paginate="bottom" }
<?php $estatus_ticket="{freeform:status}"; ?>
<tr>
  <td><?php echo $id_sol_garantia="{freeform:entry_id}"; ?></td>
  <td>{freeform:entry_date format="%d-%m-%Y a %g:%i %a"}</td>
  <td>
    {freeform:field:last_name}
    <!-- {exp:user:stats member_id="{freeform:field:id_cliente}"}
      {nombre_propietario}
    {/exp:user:stats} -->

  </td>
  <td>{exp:user:stats member_id="{freeform:field:id_cliente}"}
      {complejo_depa}
      {/exp:user:stats}</td>

  <td>{exp:user:stats member_id="{freeform:field:id_cliente}"}
      {torre_depa}
      {/exp:user:stats}</td>

  <td>{exp:user:stats member_id="{freeform:field:id_cliente}"}
      {cod_depa}
      {/exp:user:stats}</td>
  <td>

    <?php $var_est="{freeform:field:etapa_solicitud}";
        switch ($var_est) {
          case "1":
              echo "<span class='label label-default'>Solicitud en revisión</span>";
              break;
          case "2":
              echo "<span class='label label-default'>Solicitud en revisión</span>";
              break;
          case "3":
              echo "<span class='label label-default'>Inspección pendiente</span>";
              break;
          case "4":
              echo "<span class='label label-default'>Inspección pendiente</span>";
              break;
          case "5":
              echo "<span class='label label-default'>Inspección pendiente</span>";
              break;
          case "6":
              echo "<span class='label label-default'>Informe en revisión</span>";
              break;
          case "7":
              echo "<span class='label label-default'>Arreglo pendiente</span>";
              break;
          case "8":
              echo "<span class='label label-default'>Arreglo pendiente</span>";
              break;
          case "9":
              echo "<span class='label label-default'>Arreglo pendiente</span>";
              break;
          case "10":
              echo "<span class='label label-default'>Caso cerrado</span>";
              break;
          case "11":
              echo "<span class='label label-default'>Caso cerrado</span>";
              break;
      }; ?>

  </td>
  <td>{freeform:field:tipo_de_problema}</td>
  <td></td>
  <td>{freeform:field:persona_asignada_gym}</td>

  <td>
    <a href="{site_url}main/ticket_detail/{freeform:entry_id}" class="small text-danger underline">
          Ver detalle</a></td>
</tr>

  {if freeform:no_results}<p>Sin solicitudes pendientes.</p>{/if}
 
  {if freeform:total_pages > 1}
    {freeform:paginate}
      Página {freeform:current_page}
      de {freeform:total_pages}
      páginas &nbsp;
      {freeform:pagination_links}
    {/freeform:paginate}
  {/if}
  
{/exp:freeform:entries}