<!doctype html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es" > <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <title>{site_name}</title>

    <link rel="stylesheet" type="text/css" href="{site_url}stylesheets/viva.css" media="screen" />
    
    <script type="text/javascript" src="{site_url}lib/modernizr.js"></script>
    <!--[if lt IE 9]>
      <script type="text/javascript" src="{site_url}lib/respond.min.js"></script>
      <script type="text/javascript" src="{site_url}lib/placeholders.min.js"></script>
    <![endif]-->
  
    <!-- FAVICON -->
  <link rel="shortcut icon" href="img/favicon.ico">

   <!-- WebFonts  -->
  <script type="text/javascript">
    (function(d) {
      var config = {
        kitId: 'kur8suv',
        scriptTimeout: 3000
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>

  </head>
  <body>

 {if logged_out}      
<section id="home">
  
    <div class="container pt-21">
      <nav>
        <a href="#"><img src="{site_url}/images/logo-viva.png" style="width:120px; height: auto;"></a>
        <span class="text-left text-muted light">Versión Beta</span>
      </nav>
      <div class="row mt-35-100">
        <div class="col-md-10">
          <h4 class="m-0 text-muted book text-left">Nuestro servicio de atención - Login Administrador</h4>
          <h3 class="m-0 text-muted text-left">Post-venta en línea </h3>

          {exp:authenticate:login_form auth_type="username" username_field="username" return="{site_url}main/admin_dashboard" 
          class=" mt-14"}
            <div class="clearfix">
              
              <div class="form-group col-sm-4 pl-0">
                <label for="username" class="text-muted">Usuario</label>
                <input type="text" name="username" id="username" class="input-lg form-control" required>
              </div>
              <div class="form-group col-sm-4">
                <label for="password" class="text-muted">Contraseña</label>
                <input type="password" name="password" id="password" type="password" class="input-lg form-control" required>
              </div>
              <div class="col-sm-4">
                <label class="block">&nbsp;</label>
                <input type="submit" class="btn btn-lg btn-success uppercase" name="submit" value="Ingresar">
              </div>
            </div>


            {if total_global_errors > 0}
            <div class="errors text-warning">
              <h5 class="book text-left">Errores de autenticación:</h5>
              <ul class="list-unstyled text-warning small">
              {global_errors}
                <li class="icon-warning"> {error}</li>
              {/global_errors}
              </ul>
            </div>
            {/if}
              
            {if total_field_errors > 0}
            <div class="errors text-warning">
              <h5 class="book text-left">Errores en los campos:</h5>
              <ul class="list-unstyled text-warning small">
              {field_errors param1="123"}
                <li class="icon-warning"> {error}</li>
              {/field_errors}
              </ul>
            </div>
            {/if}
            
          {/exp:authenticate:login_form}

        </div>
      </div>
      <div class="row">
        <div class="col-md-7 text-left text-muted light">
          <ul class="list-unstyled mt-14">
            <!-- <li><a href="{path='member/forgot_password'}">Olvidé mi usuario</a></li> -->
            <!-- <li><a href="{path='member/forgot'}">¿Olvidaste tu contraseña?</a></li>-->
            <li><a href="{site_url}main/olvido_contrasena">¿Olvidaste tu contraseña?</a></li> 
          </ul>
          <p>Copyright 2014. VivaGyM. Todos los derechos reservados</p>
        </div>

      </div>

    </div>
    
  </section>

  {/if}

  {if logged_in}
    <script type="text/javascript"> window.location="{site_url}index.php/main/user_select"; </script>
  {/if}

</body>
</html>
