<?php
	$id_sol_garantia=$_GET["id_sol_garantia"];

	echo json_encode(array(
						array(
								'id' => 172,
								'title' => "17-06-2014",
								'start' => "2014-06-17",
								'color' => "#78BE20", 
								'textColor' => "black",
								'url' => "$site_url/main/user_request_book/$id_sol_garantia/17-06-2014"
							),
						array(
								'id' => 174,
								'title' => "19-06-2014",
								'start' => "2014-06-19",
								'color' => "#78BE20", 
								'textColor' => "black",
								'url' => "$site_url/main/user_request_book/$id_sol_garantia/19-06-2014"
							),
						array(
								'id' => 179,
								'title' => "24-06-2014",
								'start' => "2014-06-24",
								'color' => "#78BE20", 
								'textColor' => "black",
								'url' => "$site_url/main/user_request_book/$id_sol_garantia/24-06-2014"
							),
						array(
								'id' => 181,
								'title' => "26-06-2014",
								'start' => "2014-06-26",
								'color' => "#78BE20", 
								'textColor' => "black",
								'url' => "$site_url/main/user_request_book/$id_sol_garantia/26-06-2014"
							),
						array(
								'id' => 187,
								'title' => "01-07-2014",
								'start' => "2014-07-01",
								'color' => "#78BE20", 
								'textColor' => "black",
								'url' => "$site_url/main/user_request_book/$id_sol_garantia/01-07-2014"
							),
						array(
								'id' => 189,
								'title' => "03-07-2014",
								'start' => "2014-07-03",
								'color' => "#78BE20", 
								'textColor' => "black",
								'url' => "$site_url/main/user_request_book/$id_sol_garantia/03-07-2014"
							),
						array(
								'id' => 194,
								'title' => "08-07-2014",
								'start' => "2014-07-08",
								'color' => "#78BE20", 
								'textColor' => "black",
								'url' => "$site_url/main/user_request_book/$id_sol_garantia/08-07-2014"
							),
						array(
								'id' => 196,
								'title' => "10-07-2014",
								'start' => "2014-07-10",
								'color' => "#78BE20", 
								'textColor' => "black",
								'url' => "$site_url/main/user_request_book/$id_sol_garantia/10-07-2014"
							),
						array(
								'id' => 201,
								'title' => "15-07-2014",
								'start' => "2014-07-15",
								'color' => "#78BE20", 
								'textColor' => "black",
								'url' => "$site_url/main/user_request_book/$id_sol_garantia/15-07-2014"
							),
						array(
								'id' => 203,
								'title' => "17-07-2014",
								'start' => "2014-07-17",
								'color' => "#78BE20", 
								'textColor' => "black",
								'url' => "$site_url/main/user_request_book/$id_sol_garantia/17-07-2014"
							),
						array(
								'id' => 208,
								'title' => "22-07-2014",
								'start' => "2014-07-22",
								'color' => "#78BE20", 
								'textColor' => "black",
								'url' => "$site_url/main/user_request_book/$id_sol_garantia/22-07-2014"
							),
						array(
								'id' => 210,
								'title' => "24-07-2014",
								'start' => "2014-07-24",
								'color' => "#78BE20", 
								'textColor' => "black",
								'url' => "$site_url/main/user_request_book/$id_sol_garantia/24-07-2014"
							),
						array(
								'id' => 215,
								'title' => "29-07-2014",
								'start' => "2014-07-29",
								'color' => "#78BE20", 
								'textColor' => "black",
								'url' => "$site_url/main/user_request_book/$id_sol_garantia/29-07-2014"
							),
						array(
								'id' => 217,
								'title' => "31-07-2014",
								'start' => "2014-07-31",
								'color' => "#78BE20", 
								'textColor' => "black",
								'url' => "$site_url/main/user_request_book/$id_sol_garantia/31-07-2014"
							),
	
	));
	?>
	