<!doctype html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es" > <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

    <title>Recupere su Acceso</title>
    
    <link rel="stylesheet" type="text/css" href="{site_url}stylesheets/viva.css" media="screen" />

    <script type="text/javascript" src="{site_url}lib/b3/jquery-2_1_1.js"></script>
    <script type="text/javascript" src="{site_url}lib/b3/tab.js"></script>
    <script type="text/javascript" src="{site_url}lib/b3/transition.js"></script>
    <script type="text/javascript" src="{site_url}lib/b3/collapse.js"></script>
    <script type="text/javascript" src="{site_url}lib/vendor/fileinput.js"></script>
    <script type="text/javascript" src="{site_url}lib/modernizr.js"></script>
    <!--[if lt IE 9]>
      <script type="text/javascript" src="{site_url}lib/respond.min.js"></script>
      <script type="text/javascript" src="{site_url}lib/placeholder.min.js"></script>
    <![endif]-->

    <!-- FAVICON -->
    <link rel="shortcut icon" href="{site_url}img/favicon.ico">

    <!-- WebFonts  -->
    <script type="text/javascript">
      (function(d) {
        var config = {
          kitId: 'kur8suv',
          scriptTimeout: 3000
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

  </head>
  <body>
  <header class="bg-inverse text-muted">
    <div class="container-fluid pt-7 pb-7">
      <div class="row">
        <div class="col-md-4">
          <a href="{site_url}index.php/main/user_select"><img src="{site_url}/images/logo-viva.png" style="width:120px; height: auto;"></a>
        </div>
        <div class="col-md-8 hidden-xs">
          <div class="row">
            <div class="col-xs-11 col-md-11 col-sm-11 text-right">
            </div>
            <div class="col-xs-1 col-md-1 col-sm-1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container-fluid pt-35 pb-35 mh-630">
  
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <h2>Recuperar contraseña</h2>
      <p>Ingrese el correo registrado y le enviaremos las instrucciones para recuperar su contraseña.</p>

      {exp:user:forgot_password
        password_reset_template="main/reset_password"
        password_reset_email_subject="Password Reset Request"
        password_reset_email_template="main/reset_password_email_template"
        return="main/index"
      }
        <p>
        <label for="email">Correo electronico <span class="required">*</span></label>
        <input type="text" name="email" id="email" class="input-lg form-control" />
        </p>
        <div class="row">
          <div class="col-sm-3">
          <p><input type="submit" name="submit" value="Enviar" class="btn btn-lg btn-success uppercase form-control"/></p>
          </div>
        </div>
      {/exp:user:forgot_password}
    </div>
  </div>
  <div class="col-md-3">
  </div>
</body>