{embed="includes/header"}
  
  {embed="includes/bredcrumbs"}
    
  <div class="row">
    <div class="col-md-3">
      {embed="includes/user_dashboard_aside" seccion="4"}
    </div>
    <div class="col-md-6">
      <div class="panel p-14 box-shadow">
        <div class="panel-heading bg-white p-0">
          <div class="panel-title mb-14">
            <h4 class="uppercase medium"><i class="icon-docs"></i> Preguntas frecuentes</h4>
          </div>
          <hr class="m-0">
        </div>
        <div class="panel-body p-0">
          <p><strong>&iquest;Qu&eacute; ocurre si olvido mi usuario y / o contrase&ntilde;a? </strong></p>

          Al lado de las casillas de autenticaci&oacute;n en el portal de posventa encontrar&aacute;s las opciones olvid&eacute; mi usuario y olvid&eacute; micontrase&ntilde;a. Dale clic a la que corresponda y sigue los pasos. </p>

          <p><strong>&iquest;C&oacute;mo cambio mi contrase&ntilde;a o mis datos? </strong></p>La primera vez que ingreses al portal, en la primera p&aacute;gina tendr&aacute;s la opci&oacute;n de cambiar tu contrase&ntilde;a e ingresar tus datos. Posteriormente, en el lado izquierdo de tu pantalla ver&aacute;s la secci&oacute;n MiPerfil. Ingresa ah&iacute; y para hacer un cambio, da clic en editar.</p>

          <p><strong>Program&eacute; mi cita para la inspecci&oacute;n, pero no voy a poder estar. &iquest;C&oacute;mo la cancelo?</strong></p>

          <p>Debes comunicarte telef&oacute;nicamente cuanto antes a nuestra central de atenci&oacute;n al cliente:51-206-7270.</p>

          <p><strong>&iquest;C&oacute;mo se si tengo alguna notificaci&oacute;n pendiente?</strong></p>

          <p>Cuando ingreses a la plataforma ver&aacute;s tu nombre en la parte superior derecha de la pantalla. Si ves la campana en rojo, es porque tienes notificaciones. Dale clic y podr&aacute;s verlas. Tambi&eacute;n te enviaremos todas tus notificaciones por correo electr&oacute;nico.</p>

          <p><strong>&iquest;Puedo ver el estado en el que est&aacute; mi solicitud?</strong></p>

          <p>Si, en el Panel de Control ver&aacute;s el estado en el que se encuentra tu solicitud. Si quieres ver los detalles del caso ingresa a ver detalle.</p>

          <p><strong>&iquest;Qu&eacute; ocurre si tengo mi departamento alquilado?</strong></p>

          <p>En la secci&oacute;n de Mi Perfil podr&aacute;s ingresar los datos de tu inquilino. Cada propietario puede decidir si maneja el proceso de posventa en la plataforma directamente, o si le cede los datos de usuario al inquilino para que el/ella lo haga. </p>

          <p><strong>&iquest;Qu&eacute; ocurre si vendo mi departamento?</strong></p>

          <p>Para dar de baja tu cuenta y tu informaci&oacute;n, comun&iacute;cate telef&oacute;nicamente con nuestra central de atenci&oacute;n al cliente: 51-206-7270. Te solicitaremos los datos del nuevo propietario para proporcionarle acceso a la plataforma.  </p>                

        </div>
      </div>
    </div>
    <div class="col-md-3">
      {embed="includes/user_new_request_aside"}
    </div>
  </div>

{embed="includes/footer"}