{embed="includes/header" }

<?php $id_sol_garantia="{segment_3}"; ?>

{embed="includes/bredcrumb_admin" }

<div class="row">
    
  {exp:freeform:entries form_id="2" entry_id="{segment_3}" limit="1" status="open|closed" }

    <div class="col-md-9 col-sm-9">
      <div class="panel p-14 box-shadow" >
        <div class="panel-heading bg-white p-0">
          <div class="panel-title mb-14">
            <h2 class="medium m-0"><span class="h4">No. de caso:</span> {segment_3}</h2>
          </div>
          <hr class="m-0">
        </div>
        <div class="panel-body p-0">
          <div class="row mt-14">
            <div class="col-sm-4">
              <?php $archivo="{freeform:field:foto_problema}"; ?>
              <!-- FOTO DUMMY -->
              <?php if(empty($archivo)) { ?>
              <img src="{site_url}images/request_placeholder.png" alt="" class="img-responsive img-thumbnail">
              <?php } else { ?>
              <!-- FOTO DUMMY -->
              <img src="{site_url}fotos_problemas/{freeform:field:foto_problema}" alt="" class="img-responsive img-thumbnail">
              <?php } ?>
            </div>
            <div class="col-sm-4">
              <h5 class="light uppercase">Datos del propietario</h5>
              <ul class="list-unstyled">
                <li class="mb-7"><strong>Propietario(a)</strong><br>
                  {exp:user:stats member_id="{freeform:field:id_cliente}"}
                  {nombre_propietario} {ap_pat} {ap_mat}{/exp:user:stats}
                </li>

                <li class="mb-7"><strong>Fecha entrega del dpto.</strong><br>
                  {exp:user:stats member_id="{freeform:field:id_cliente}"}
                  {fecha_entrega} {/exp:user:stats}
                </li>

                <li class="mb-7"><strong>Departamento</strong><br>
                  {exp:user:stats member_id="{freeform:field:id_cliente}"}{cod_depa}{/exp:user:stats}
                </li>
                <li class="mb-7"><strong>Complejo</strong><br>
                  {exp:user:stats member_id="{freeform:field:id_cliente}"}{complejo_depa}{/exp:user:stats}
                </li>
                <li class="mb-7"><strong>Tipo de problema</strong><br>{freeform:field:tipo_de_problema}</li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h5 class="light uppercase">Datos del responsable</h5>
              <ul class="list-unstyled">
                <li class="mb-7"><strong>Fecha de solicitud</strong><br>{freeform:entry_date format="%j %F %Y"}</li>
                <li class="mb-7"><strong>Responsable Viva</strong><br>{freeform:field:persona_asignada_gym}</li>
                <li class="mb-7"><strong>Responsable GyM</strong><br>{freeform:field:persona_asignada_viva}</li>
                <li class="mb-7"><strong>Inspector</strong><br>{freeform:field:inspector_asignado}</li>
                <li class="mb-7"><strong>Constructor</strong><br>{freeform:field:constructor_asignado}</li>
              </ul>
            </div>
          </div>

          <div class="row mt-21">
            <div class="col-sm-12">
              <div class="descripcion p-14 box-shadow">
                <h5 class="light uppercase">Descripción</h5>
                <hr class="double">
                <p>{freeform:field:descripcion_problema}</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive">

                {exp:member:custom_profile_data}
                  {exp:switchee variable = "{group_id}" parse="inward"}
                    
                    {case value="7"}<!-- admin viva 7 -->
                      {embed="includes/pasos_viva" entrada="{segment_3}"}
                    {/case}

                    {case value="8"}<!-- admin GyM 8 -->
                      {embed="includes/pasos_gym" entrada="{segment_3}"}
                    {/case}

                    {case value="9"}<!-- inspector viva 9 -->
                    
                    {/case}

                    {case value="10"}<!-- personal GyM que ejecuta el arreglo  10 -->
                      
                    {/case}
                    
                  {/exp:switchee}
                {/exp:member:custom_profile_data}

              </div>
            </div>
          </div>

          <div class="row mt-21">
            <div class="col-sm-12">
              <div class="descripcion p-14 box-shadow">
                <h5 class="light uppercase">Notas</h5>
                <hr class="double">
                <!-- <p>{freeform:field:comentarios_garantia}</p> -->

                {embed="includes/nuevo_comentario" entrada="{segment_3}"}


              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    {exp:member:custom_profile_data}
      {exp:switchee variable = "{group_id}" parse="inward"}
        
        {case value="7"}<!-- admin viva 7 -->
          {embed="includes/sidebar_viva" entrada="{segment_3}"}
        {/case}

        {case value="8"}<!-- admin GyM 8 -->
          {embed="includes/sidebar_gym" entrada="{segment_3}"}
        {/case}

        {case value="9"}<!-- inspector viva 9 -->
          {embed="includes/sidebar_insp" entrada="{segment_3}"}
        {/case}

        {case value="10"}<!-- personal GyM que ejecuta el arreglo  10 -->
          {embed="includes/sidebar_cons" entrada="{segment_3}"}
        {/case}
        
      {/exp:switchee}
    {/exp:member:custom_profile_data}

  {/exp:freeform:entries}
</div>