{embed="includes/header" }

<?php $id_sol_garantia="{segment_3}"; ?>

{embed="includes/bredcrumb_admin" }

<div class="row">
    
    {exp:freeform:entries form_id="2" entry_id="{segment_3}" limit="1" status="open|closed" }

    <div class="col-md-9 col-sm-9">
      <div class="panel p-14 box-shadow" >
        <div class="panel-heading bg-white p-0">
          <div class="panel-title mb-14">
            <h2 class="medium m-0"><span class="h4">No. de caso:</span> {segment_3}</h2>
          </div>
          <hr class="m-0">
        </div>
        <div class="panel-body p-0">
          <div class="row mt-14">
            <div class="col-sm-4">
              <?php $archivo="{freeform:field:foto_problema}"; ?>
              <!-- FOTO DUMMY -->
              <?php if(empty($archivo)) { ?>
              <img src="{site_url}images/request_placeholder.png" alt="" class="img-responsive img-thumbnail">
              <?php } else { ?>
              <!-- FOTO DUMMY -->
              <img src="{site_url}fotos_problemas/{freeform:field:foto_problema}" alt="" class="img-responsive img-thumbnail">
              <?php } ?>
            </div>
            <div class="col-sm-4">
              <h5 class="light uppercase">Datos del propietario</h5>
              <ul class="list-unstyled">
                <li class="mb-7"><strong>Propietario(a)</strong><br>
                  {exp:user:stats member_id="{freeform:field:id_cliente}"}
                  {nombre_propietario} {ap_pat} {ap_mat}{/exp:user:stats}
                </li>
                <li class="mb-7"><strong>Departamento</strong><br>
                  {exp:user:stats member_id="{freeform:field:id_cliente}"}{cod_depa}{/exp:user:stats}
                </li>
                <li class="mb-7"><strong>Complejo</strong><br>
                  {exp:user:stats member_id="{freeform:field:id_cliente}"}{complejo_depa}{/exp:user:stats}
                </li>
                <li class="mb-7"><strong>Tipo de problema</strong><br>{freeform:field:tipo_de_problema}</li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h5 class="light uppercase">Datos del responsable</h5>
              <ul class="list-unstyled">
                <li class="mb-7"><strong>Fecha</strong><br>{freeform:entry_date format="%j %F %Y"}</li>
                <li class="mb-7"><strong>Responsable Viva</strong><br>{freeform:field:persona_asignada_gym}</li>
                <li class="mb-7"><strong>Responsable GyM</strong><br>{freeform:field:persona_asignada_viva}</li>
                <li class="mb-7"><strong>Inspector</strong><br>{freeform:field:inspector_asignado}</li>
                <li class="mb-7"><strong>Constructor</strong><br>{freeform:field:constructor_asignado}</li>
              </ul>
            </div>
          </div>
          <div class="row mt-21">
            <div class="col-sm-12">
              <div class="descripcion p-14 box-shadow">
                <h5 class="light uppercase">Descripción</h5>
                <hr class="double">
                <p>{freeform:field:descripcion_problema}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive">

                {exp:member:custom_profile_data}
                    {exp:switchee variable = "{group_id}" parse="inward"}
                      
                      {case value="7"}<!-- admin viva 7 -->
                        {embed="includes/pasos_viva" entrada="{segment_3}"}
                      {/case}

                      {case value="8"}<!-- admin GyM 8 -->
                        {embed="includes/pasos_gym" entrada="{segment_3}"}
                      {/case}

                      {case value="9"}<!-- inspector viva 9 -->
                        {embed="includes/pasos_insp" entrada="{segment_3}"}
                      {/case}

                      {case value="10"}<!-- personal GyM que ejecuta el arreglo  10 -->
                        {embed="includes/pasos_cons" entrada="{segment_3}"}
                      {/case}
                      
                    {/exp:switchee}
                    {/exp:member:custom_profile_data}

                

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="panel">
        <div class="panel-heading bg-danger">
          <div class="panel-title text-muted">
            Acción pendiente
          </div>
        </div>
        <div class="panel-body">
          <p>¿Procede la visita de inspección?</p>
          <form>
            <div class="form-group">
              <select name="" class="form-control select-override input-sm option-select">
                <option value="default" selected="selected">Selecciona una opción</option>
                <option value="Si" >Si</option>
                <option value="No" >No</option>
              </select>
            </div>
            <div class="text-left button-submit">
              <button type="submit" class="btn uppercase btn-success">Procesar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    {/exp:freeform:entries}

  </div>
  

                
