<?php

function normaliza ($String){
$String = str_replace(array('á','à','â','ã','ª','ä'),"a",$String);
$String = str_replace(array('Á','À','Â','Ã','Ä'),"A",$String);
$String = str_replace(array('Í','Ì','Î','Ï'),"I",$String);
$String = str_replace(array('í','ì','î','ï'),"i",$String);
$String = str_replace(array('é','è','ê','ë'),"e",$String);
$String = str_replace(array('É','È','Ê','Ë'),"E",$String);
$String = str_replace(array('ó','ò','ô','õ','ö','º'),"o",$String);
$String = str_replace(array('Ó','Ò','Ô','Õ','Ö'),"O",$String);
$String = str_replace(array('ú','ù','û','ü'),"u",$String);
$String = str_replace(array('Ú','Ù','Û','Ü'),"U",$String);
$String = str_replace(array('[','^','´','`','¨','~',']'),"",$String);
$String = str_replace("ç","c",$String);
$String = str_replace("Ç","C",$String);
$String = str_replace("ñ","n",$String);
$String = str_replace("Ñ","N",$String);
$String = str_replace("Ý","Y",$String);
$String = str_replace("ý","y",$String);
$String = str_replace(" ","-",$String);
return $String;
}


$id_sol_garantia=$_POST['id_sol_garantia'];
$paso=$_POST['paso'];
$id_cliente=$_POST['id_cliente'];

$comentarios=$_POST['comentarios'];
$aprobar_paso=$_POST['aprobar_paso'];

$result=mysql_query("SELECT * FROM exp_freeform_form_entries_2 WHERE entry_id=$id_sol_garantia");
$obten=mysql_fetch_row($result);
$id_cliente = $obten[2];

// leer email cuando lo tomas de ee no funca
  $result_email=mysql_query("SELECT * FROM exp_members WHERE member_id=$id_cliente");
  $obten_email=mysql_fetch_row($result_email);
  $screen_name = $obten_email[3];
  echo "<br> dir: ".$dir = $obten_email[9];

$prox_paso=$paso+1;

$ip=$_SERVER["REMOTE_ADDR"];

$date = date_create();
$entry_date=date_timestamp_get($date);

if($aprobar_paso=="si"){
  $mensaje="Reparación completa";

$sqlUpdate = mysql_query("UPDATE exp_freeform_form_entries_4 
SET status = 'closed',
entry_date = '$entry_date',
form_field_27 = '$mensaje'
WHERE form_field_18 = $id_sol_garantia AND form_field_19 = $paso ");

$resultado=mysql_query("insert into exp_freeform_form_entries_4 
(site_id,author_id,complete,ip_address,entry_date,status,form_field_5,form_field_17,form_field_18,form_field_19,form_field_27,form_field_29) 
values ('1','$id_cliente','y','$ip','','open','$id_cliente','Encuesta usuario','$id_sol_garantia','$prox_paso','','$comentarios')");

$sqlUpdateb = mysql_query("UPDATE exp_freeform_form_entries_2 
SET status = 'closed'
WHERE entry_id = $id_sol_garantia ");

$sub="Cita de Inspección Agendada - Viva GyM";
  echo "<br> correo ".$txt_mail="Estimado/a $screen_name<p>
  Gracias por culminar el proceso de atención de su solicitud número $id_sol_garantia.<p>
Adjunto encontrará el reporte del arreglo realizado por GyM.<p>
Aprovechamos para recordarle que en el Manual del Propietario otorgado al momento de la entrega de su departamento se especifica el correcto uso y mantenimiento preventivo que se le debe realizar a sus instalaciones a fin de evitar que estas fallen por el propio uso que provoca el desgaste natural.  Puede encontrar el Manual en nuestro portal de post-venta en línea. Link a Manual.<p>
Es importante precisar que en caso se presentara alguna solicitud, observación y/o requerimiento adicional tras el arreglo debe llenar un nuevo reclamo en nuestro portal de post-venta en línea o comunicarte a nuestro Call Center de Atención al Cliente 206-7270. Este es el único mecanismo que garantiza la atención de su solicitud de post-venta, cualquier otra forma de solicitud no será atendida.<p>
Quedamos como siempre a su disposición si tiene alguna consulta o solicitud adicional.<p>
Atentamente";

  ee()->load->library('email');
  ee()->load->helper('text');

  ee()->email->wordwrap = true;
  ee()->email->mailtype = 'html';
  ee()->email->from('admin@gym.com');
  ee()->email->to($dir);
  ee()->email->subject($sub);
  ee()->email->message(entities_to_ascii($txt_mail));
  ee()->email->Send();

}

if($aprobar_paso=="no"){
  $mensaje="Reparación incompleta";

$sqlUpdate = mysql_query("UPDATE exp_freeform_form_entries_4 
SET status = 'open',
entry_date = '$entry_date',
form_field_27 = '$mensaje'
WHERE form_field_18 = $id_sol_garantia AND form_field_19 = $paso ");

}


/*if($paso=="4") { $titulo="Asignar Inspector";
$texto="Seleccione la persona encargada de la inspección";
}

if($paso=="8") { $titulo="Asignar Personal";
$texto="Seleccione la persona encargada de ejecutar el arreglo";
}

$result=mysql_query("SELECT * FROM exp_members WHERE member_id=$id_cliente");
$obten=mysql_fetch_row($result);
$screen_name = $obten[3];

$resultb=mysql_query("SELECT * FROM exp_member_data WHERE member_id=$id_cliente");
$obtenb=mysql_fetch_row($resultb);
$m_field_id_5 = $obtenb[6]; //telefono

$resultc=mysql_query("SELECT * FROM exp_freeform_form_entries_2 WHERE entry_id=$id_sol_garantia");
$obtenc=mysql_fetch_row($resultc);
$entry_date = $obtenc[5]; //fecha
$foto = $obtenc[11]; //foto
$detalles = $obtenc[20]; //fecha 

echo "<br> archivo ".$informe_inspeccion = $_FILES['informe_inspeccion']['name'];

echo "<br> destino ".$destino_file="{site_url}fotos_problemas/";*/


/*

if (!empty($informe_inspeccion)) {
        // obtenemos los datos del archivo
        $tamano = $_FILES["informe_inspeccion"]['size'];
        $tipo = $_FILES["informe_inspeccion"]['type'];
        echo "<br> file ".$archivo = $_FILES["informe_inspeccion"]['name'];
        //$prefijo = substr(md5(uniqid(rand())),0,6);
    $tam=$tamano/1024;

        $trozos = explode(".", $archivo); 
        echo "<br> extension ".$extension = end($trozos);

          if (($extension=="pdf") or ($extension=="docx") or ($extension=="doc")) { 
            if ($tam<4096) {         
              if ($archivo != "") {
                // guardamos el archivo a la carpeta files
                $guarda_cv =  $id_sol_garantia."_".normaliza($archivo);
                echo "<br> destino final ".$destino =  $destino_file.$id_sol_garantia."_".normaliza($archivo);
                if (copy($_FILES['informe_inspeccion']['tmp_name'],$destino)) {
                  $status = "Archivo subido: <b>".normaliza($archivo)."</b>";
                  echo "<br>archivo movido";
                  $update_persona = mysql_query("UPDATE exp_freeform_form_entries_2 SET form_field_28 = '$guarda_cv'  
                   WHERE entry_id = $id_sol_garantia");
                  
                } else {
                  $status = "Error al subir el archivo";
                }
            }
          }
  
      
        } else {
            $status = "Archivo vacio o extensión no permitida";
        }
    }else {
            $status =  "Archivo vacio o extensión no permitida";
        } */


?>

<body>
<!--  
{embed="includes/carga" }
<?php sleep(3); ?>

<script type="text/javascript">
window.location="user_gym";
</script>-->

</body>