{embed="includes/header" }

{exp:get_post_vars parse="inward"}
	{exp:confirm_sol:user_close 
		id_sol_garantia="{segment_3}" 
		paso="{segment_4}"
		id_cliente="{segment_5}"
		entry_id="{segment_6}"
	}
	{/exp:confirm_sol:user_close}
{/exp:get_post_vars}

<?php
$fecha_atencion_ticket=date('d-m-Y');
$id_sol_garantia="{segment_3}";
$id_cliente="{segment_5}";

$result_aus=mysql_query("SELECT * FROM exp_freeform_form_entries_4 WHERE form_field_18 = $id_sol_garantia AND form_field_19 = 9 ");
$obten_aus=mysql_fetch_row($result_aus);
$cliente_ausente = $obten_aus[23];
if($cliente_ausente=="si"){
	
?>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<h1>¡Listo! El informe de arreglo de la solicitud #<?php echo $id_sol_garantia; ?> ha sido ingresado</h1>
  	<p>{embed="main/datos_user" user_id="{segment_5}" }</p>
	  <p>Puedes hacerle seguimiento a las solicitudes en la sección de “Panel de control”</p>
	  <p><a href="{site_url}main/admin_dashboard">Ir a Panel de control</a></p>	  
  </div>
</div>
<?php
};

if($cliente_ausente==""){ // colocar el plugin de envio de correos 

?>
{exp:member:custom_profile_data}
	{exp:generar_comentario member_id="{member_id}" id_sol_garantia="{segment_3}" 
	texto="La persona encargada no se encontraba en el inmueble para el arreglo." acc="no" }
{/exp:member:custom_profile_data}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	{exp:user:stats member_id="{segment_5}"}
			{exp:mandrillapp:send_email_user_close
			  to="{email_propietario}"
			  name="{nombre_propietario}"
			  from="admin@gym.com"
			  id_sol_garantia="{segment_3}"}
			{/exp:mandrillapp:send_email_user_close}  
		{/exp:user:stats}
  	<h1>¡Listo! Se ha notificado al cliente que la visita de arreglo no pudo ser realizada, el cliente deberá agendar nuevamente la visita de arreglo.</h1>
  	<p>{embed="main/datos_user" user_id="{segment_5}" }</p>
	  <p>Puedes hacerle seguimiento a las solicitudes en la sección de “Panel de control”</p>
	  <p><a href="{site_url}main/admin_dashboard">Ir a Panel de control</a></p>	  
  </div>
</div>
<?php
}
?>