{embed="includes/header" }

 {embed="includes/bredcrumbs"}

  <div class="row">
    <div class="col-md-3 hidden-sm hidden-xs">
      {embed="includes/user_dashboard_aside" seccion="1"}
    </div>

    {exp:freeform:entries form_id="2" entry_id="{segment_3}" limit="1" status="open|closed" }

    <div class="col-md-9 col-sm-8">
      <div class="panel p-14 box-shadow" >
        <div class="panel-heading bg-white p-0">
          <div class="panel-title mb-14">
            <h2 class="medium m-0"><span class="h4">No. de caso:</span> {segment_3}</h2>
          </div>
          <hr class="m-0">
          {embed="includes/barra_accion" id_sol_garantia="{segment_3}"}
        </div>
        <div class="panel-body p-0">
          <div class="row mt-14">
            <div class="col-sm-3">
              <?php $archivo="{freeform:field:foto_problema}"; ?>
              <!-- FOTO DUMMY -->
              <?php if(empty($archivo)) { ?>
              <img src="{site_url}images/request_placeholder.png" alt="" class="img-responsive img-thumbnail">
              <?php } else { ?>
              <!-- FOTO DUMMY -->
              <img src="{site_url}fotos_problemas/{freeform:field:foto_problema}" alt="" class="img-responsive img-thumbnail">
              <?php } ?>
            </div>
            <div class="col-sm-3">
              <ul class="list-unstyled">
                <li class="mb-7"><strong>Tipo de problema</strong><br>{freeform:field:tipo_de_problema}</li>
                <li class="mb-7"><strong>Fecha</strong><br>{freeform:entry_date format="%j %F %Y"}</li>
                <li class="mb-7"><strong>Responsable</strong><br>{freeform:field:persona_asignada_gym}</li>
              </ul>
            </div>
            <div class="col-sm-6">
              <div class="descripcion p-14 box-shadow">
                <h5 class="light uppercase">Descripción</h5>
                <hr class="double">
                <p>{freeform:field:descripcion_problema}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive">
                {embed="includes/pasos_solicitud" id_sol_garantia="{segment_3}"}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {/exp:freeform:entries}

  </div>
{embed="includes/footer"}