
{embed="includes/header"  }

  {{> userSubNav}}
  <div class="row">
    <div class="col-md-3">
      {{> userDashboardAside}}
    </div>
    <div class="col-md-9">
      <div class="viva-alert viva-alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <div class="clearfix">
          <div class="col-md-1 viva-icon-wrapper">
            <i></i>
          </div>
          <div class="col-md-11">
            <p>Tu solicitud <span class="medium">N.23453</span> ha sido revisada. Un inspector irá a tu departamento.<br>Escoge la fecha y hora en el siguiente <a href="#">calendario</a>.</p>
          </div>
        </div>
      </div>
      <ul class="nav nav-tabs nav-justified uppercase">
        <li class="active"><a href="#mi-depa" data-toggle="tab">Mi Depa</a></li>
        <li><a href="#solicitudes-abiertas" data-toggle="tab">Solicitudes Abiertas</a></li>
        <li><a href="#nueva-solicitud" data-toggle="tab">Nueva Solicitud</a></li>
      </ul>
      <div class="tab-content bg-gray-lighter">
        <div class="tab-pane fade active in" id="mi-depa">
          <div class="panel-group" id="accordion">
            <div class="panel bg-gray-lighter pt-21">
              <div class="panel-heading">
                <div class="panel-title">
                  <div class="row">
                    <div class="col-xs-1 text-center">
                      <i class="icon-book h4"></i>
                    </div>
                    <div class="col-xs-8">
                      <h4 class="uppercase mt-0 mb-0">Manual de uso y mantenimiento</h4>
                      <p class="light mb-0">Consejos fundamentales para cuidar tu departamento todos los días</p>
                    </div>
                    <div class="col-xs-2 text-right">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed-icon not-underline"></a>
                    </div>
                  </div>                
                </div>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body pt-0 borderless">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-8 pt-21">
                      <div class="row mb-21">
                        <div class="col-md-12">
                          <div class="mh-350 bg-inverse"></div>
                        </div>
                      </div>
                      <i class="icon-book"> </i><a href="#" class="text-success">Descargar manual</a>
                    </div>
                    <div class="col-md-2"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel bg-gray-lighter borderless">
              <div class="panel-heading">
                <div class="panel-title">
                  <div class="row">
                    <div class="col-xs-1 text-center">
                      <i class="icon-tag h4"></i>
                    </div>
                    <div class="col-xs-8">
                      <h4 class="uppercase m-0">Garantía</h4>
                    </div>
                    <div class="col-xs-2 text-right">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed-icon not-underline"></a>
                    </div>
                  </div>                
                </div>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body pt-0 borderless">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-8 pt-21 light">
                      <p>Viva GyM basa sus políticas de garantía en el código de Protección y Defensa del Consumidor (Ley 29571). En el artículo 80º del mismo se señala que el período de garantía se informa de acuerdo con los siguientes criterios:</p>
                      <p><span class="medium">(i)</span> Si son componentes o materiales, de acuerdo a lo establecido por el proveedor de los mismos</p>
                      <p><span class="medium">(ii)</span> Si son aspectos estructurales, como mínimo cinco (5) años desde emitido el certificado de finalización de obra y recepción de obra por parte de la municipalidad.</p>
                      <p>Viva GyM ofrece la siguiente garantía:</p>
                      <h5 class="uppercase">Acabados</h5>
                      <p>Tiempo de duración: 6 meses</p>
                      <p>Incluye daños en:</p>
                      <ul class="list-unstyled pl-21">
                        <li>- Pisos</li>
                        <li>- Puertas</li>
                        <li>- Paredes</li>
                        <li>- Closets</li>
                      </ul>
                      <h5 class="uppercase">Instalaciones</h5>
                      <p>Tiempo de duración: 6 meses</p>
                      <p>Incluye daños en:</p>
                      <ul class="list-unstyled pl-21">
                        <li>- Sanitarias</li>
                        <li>- Eléctricas</li>
                      </ul>
                      <h5 class="uppercase">Estructura</h5>
                      <p>Tiempo de duración: 6 meses</p>
                      <p>Incluye daños en:</p>
                    </div>
                    <div class="col-md-2"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="solicitudes-abiertas">
          <div class="panel-group" id="accordion2">
            <div class="panel bg-gray-lighter pt-21">
              <div class="panel-heading pb-0">
                <div class="panel-title">
                  <div class="row text-muted">
                    <div class="col-md-2 text-center pr-0">
                      <div class="bg-warning-dark pt-7 pb-7">No. 37287</div>
                    </div>
                    <div class="col-md-9 text-right p-0">
                      <div class="bg-warning pt-7 pb-7">Ver detalle</div>
                    </div>
                    <div class="col-md-1 text-center pl-0">
                      <div class="bg-warning pt-7 pb-7">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseFour" class="collapsed-icon not-underline lh-0"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-body borderless pt-0">
                <div class="clearfix bg-white pt-14 pb-14">
                  <div class="col-md-2">
                    <img src="/img/apt1.jpg" class="img-responsive">
                  </div>
                  <div class="col-md-4">
                    <ul class="list-unstyled">
                      <li class="mb-14"><strong>Fecha de apertura:</strong> 21-03-2014</li>
                      <li class="mb-14"><strong>Estatus: </strong> <span class="text-warning">Abierto</span></li>
                      <li class="mb-14"><strong>Atendido por:</strong> <span class="text-warning">Roberto Mendoza</span></li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <p class="light"><strong>Descripción: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                  </div>
                </div>
                <div id="collapseFour" class="panel-collapse collapse in mt-14">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead class="uppercase bg-gray text-muted light">
                        <tr>
                          <td>Acción</td>
                          <td>Estatus</td>
                          <td>Día / Hora</td>
                          <td>Acción</td>
                        </tr>
                      </thead>
                      <tbody class="bg-white">
                        <tr>
                          <td>Solicitud ingresada</td>
                          <td>Realizado</td>
                          <td>10/01/2014 11:00 am</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Vista de inspección agendada</td>
                          <td>Realizado</td>
                          <td>19/01/2014 4:00 pm</td>
                          <td><a href="#" class="btn btn-sm btn-warning disabled small">Agendar</a></td>
                        </tr>
                        <tr>
                          <td>Inspector visitó el dpto.</td>
                          <td>Realizado</td>
                          <td>12/01/2014 8:00 am</td>
                          <td><a href="#" class="btn btn-sm btn-warning small">Ver reporte</a></td>
                        </tr>
                        <tr>
                          <td>Visita de arreglo agendada</td>
                          <td>Pendiente</td>
                          <td></td>
                          <td><a href="" class="btn btn-sm btn-warning small">Agendar</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade p-14" id="nueva-solicitud">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <h4 class="mb-21">¿Qué necesitas hacer?</h4>
              <form action="">
                <div class="form-group">
                  <select name="" id="nueva-solicitud-select" class="form-control input-lg uppercase select-override">
                    <option value="">Requerimiento de atención por garantía</option>
                    <option value="">Solicitud de documentos</option>
                  </select>
                </div>
                <div class="form-group text-right">
                  <button type="submit" class="btn btn-lg uppercase btn-success">Ingresar</button>
                </div>
              </form>
              <h4 class="text-warning uppercase">Requerimiento de atención por garantía</h4>
              <form action="">
                <div class="row">
                  <div class="col-md-7">
                    <div class="form-group">
                      <input type="text" placeholder="Tipo de Problema" name="tipo-de-problema" class="uppercase form-control input-lg">
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <select name="" id="nueva-solicitud-select" class="form-control input-lg uppercase select-override">
                        <option value="">Ubicación</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea name="descripcion-de-problema" class="form-control" rows="7" placeholder="DESCRIPCIÓN DEL PROBLEMA"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row mt-14">
                  <div class="col-md-7">
                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                      <div class="form-control" data-trigger="fileinput">
                        <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span>
                      </div>
                      <span class="input-group-addon btn btn-default btn-file">
                        <span class="fileinput-new"><i class="icon-camera"></i></span>
                        <span class="fileinput-exists">Cambiar</span>
                        <input type="file" name="imagen">
                      </span>
                      <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Quitar</a>
                    </div>
                  </div>
                </div>
                <div class="row mt-14">
                  <div class="col-md-7">
                    <p>¿El daño involucra a otro departamento?</p>
                    <div class="form-group">
                      <select name="" id="nueva-solicitud-select" class="form-control input-lg uppercase select-override">
                        <option value="">Sí</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row mt-14">
                  <div class="col-md-9">
                    <p>¿Qué departamento?</p>
                    <div class="form-group">
                      <input type="text" placeholder="Número del departamento" name="numero-de-departamento" class="uppercase form-control input-lg">
                    </div>
                  </div>
                </div>
                <div class="form-group text-right">
                  <button type="submit" class="btn btn-lg uppercase btn-success">Procesar</button>
                </div>
              </form>
              <h4 class="text-warning uppercase"><i class="icon-text2"></i> Solicitud de documentos</h4>
              <form action="">
                <div class="row mt-14">
                  <div class="col-md-7">
                    <p>¿Qué documento deseas?</p>
                    <div class="form-group">
                      <select name="" class="form-control input-lg uppercase select-override">
                        <option value="">Planos</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row mt-14">
                  <div class="col-md-7">
                    <p>Confirma el correo donde te enviaremos la información:</p>
                    <div class="form-group">
                      <input type="email" placeholder="Correo electrónico" name="correo-electronico-documento" class="uppercase form-control input-lg">
                    </div>
                  </div>
                </div>
                <div class="form-group text-right">
                  <button type="submit" class="btn btn-lg uppercase btn-success">Procesar</button>
                </div>
              </form>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


{embed="includes/footer"}