{embed="includes/header"  }

  <div class="row mb-21">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <h3 class="text-success book">Bienvenido al nuevo portal de post-venta de Viva GyM</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, aspernatur, deserunt, minima voluptatem quisquam maiores cumque magnam saepe quaerat autem hic voluptas praesentium suscipit repudiandae fugit nesciunt minus dolorem inventore!</p>
    </div>
  </div>
  <div class="row">
    <!-- BEGIN FORM -->
    <form>
      <div class="col-md-3">
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="fileinput-new thumbnail">
            <img data-src="/img/profile_soygus.png" alt="..." src="/img/profile_soygus.png" class="img-responsive">
          </div>
          <div class="fileinput-preview fileinput-exists thumbnail" style="max-width:263px; max-height: 263px;"></div>
          <div class="clearfix pt-14 pb-14 bg-gray-lighter mt-7">
            <div class="col-md-10">
              <span class="btn btn-sm btn-default btn-file">
                <span class="fileinput-new">SUBIR FOTO</span>
                <span class="fileinput-exists">Cambiar</span>
                <input type="file" name="...">
              </span>
              <a href="#" class="fileinput-exists small" data-dismiss="fileinput"> Quitar</a>
            </div>
            <div class="col-md-2 text-center pt-7">
              <i class="icon-camera"></i>
            </div>
          </div>
        </div>
      </div>

      {exp:user:edit}

      <div class="col-md-9">
        <div class="bg-gray-lighter p-14">
          <h4 class="uppercase text-warning">Cambia de clave</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="password" name="password" class="form-control input-lg uppercase" placeholder="Ingresa tu nueva clave">
              </div>
            </div>
            <div class="col-md-6">
              <input type="password" name="password_confirm" class="form-control input-lg uppercase" placeholder="Ingresa tu nueva clave">

              <p>Current Password <input type="password" name="current_password" /></p>
              <p><input type="submit" value="Submit" /></p>

            </div>
          </div>
        </div>
        {/exp:user:edit}

        <div class="mh-490 bg-gray-lighter mt-21 p-14">
          <div class="row">
            <div class="col-md-6">
              <h4>¿El departamento es alquilado?</h4>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <select name="" id="" class="form-control input-lg select-override">
                  <option value="Propio">Propio</option>
                  <option value="Alquilado">Alquilado</option>
                </select>
              </div>
            </div>
          </div>        
          <p>Por favor completa los siguientes datos del inquilino del departamento:</p>
          <p><sup class="text-danger h5">*</sup>Campo obligatorio</p>
          <h4 class="uppercase text-warning mt-21">Datos del Inquilino</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control input-lg uppercase" placeholder="* Apellido paterno" name="inquilino_apellido_paterno">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-lg uppercase" placeholder="Telefono" name="inquilino_telefono">
              </div>
              <div class="form-group">
                <input type="email" class="form-control input-lg uppercase" placeholder="* E-mail" name="inquilino_email">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control input-lg uppercase" placeholder="* Apellido materno" name="inquilino_apellido_materno">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-lg uppercase" placeholder="* Teléfono celular" name="inquilino_telefono_celular">
              </div>
            </div>
          </div>
          <h4 class="uppercase text-warning mt-21">Datos del propietario</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control input-lg uppercase" placeholder="* Nombre" name="propietario_nombre">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-lg uppercase" placeholder="* Apellido paterno" name="propietario_apellido_paterno">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-lg uppercase" placeholder="Teléfono fijo" name="propietario_telefono">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-lg uppercase" placeholder="Teléfono cónyuge" name="propietario_telefono_conyuge">
              </div>
              {exp:member:custom_profile_data}
              <div class="form-group">
                <input type="email" class="form-control input-lg uppercase" placeholder="* E-mail" name="propietario_email" value="{t_cel}">
              </div>
              {/exp:member:custom_profile_data}

            </div>
            
            <div class="col-md-6">
              <div class="form-group form-group-invisible hidden-sm hidden-xs"></div>
              <div class="form-group">
                <input type="text" class="form-control input-lg uppercase" placeholder="* Apellido materno" name="propietario_apellido_materno">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-lg uppercase" placeholder="* Teléfono celular" name="propietario_telefono_celular">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-lg uppercase" placeholder="Teléfono oficina" name="propietario_telefono_oficina">
              </div>
            </div>
            
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-lg btn-success uppercase">Procesar</button>
          </div>
        </div>
      </div>
    </form>
    <!-- END FORM -->
  </div>

{embed="includes/footer"}
