{embed="includes/header"}

  <ol class="breadcrumb">
    <li><a href="user_dashboard">Panel de control</a></li>
    <li class="active">Mis solicitudes</li>
  </ol>
  
  <div class="row">
    <div class="col-md-3">
      {embed="includes/user_dashboard_aside" seccion="1"}
    </div>
    <div class="col-md-6">
      <div class="panel p-14 box-shadow">
        <div class="panel-heading bg-white p-0">
          <div class="panel-title mb-14">
            <h4 class="uppercase medium"><i class="icon-docs"></i> Mis solicitudes</h4>
          </div>
          <hr class="m-0">
        </div>
        <div class="panel-body p-0">
          <div class="table-responsive">

              {embed="includes/solicitudes_abiertas"}          

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      {embed="includes/user_new_request_aside"}
    </div>
  </div>

{embed="includes/footer"}