{embed="includes/header"}
<!-- nelly.vasquez@gym.com.pe -->
{exp:user:stats}
   {exp:freeform:entries  parse="inward" form_id="3" orderby="entry_id" sort="desc" search:id_cliente="{member_id}" status="open" limit="1" }
	   {exp:mandrillapp:send_email_request_doc
	   	 to="jmoron82@hotmail.com"
	     email_propietario="{email_propietario}"
	     email_alt="{freeform:field:email_encargado_atencion}"
	     name="Administrador Viva"
	     nombre_propietario="{nombre_propietario}"
	     apellido_propietario="{ap_pat}"
	     telefono_propietario= "{t_cel} / {t_ofic}"
	     complejo_propietario= "{complejo_depa}"
	     torre_propietario= "{torre_depa}"
	     departamento_propietario= "{cod_depa}"
	     documento = "{freeform:field:documento_solicitado}"
	     tipo="admin"
	   {/exp:mandrillapp:send_email_request_doc} 

	   {embed="main/envio_doc" 
	   to="{email_propietario}" 
	   name="{nombre_propietario}" 
	   documento = "{freeform:field:documento_solicitado}"
	   tipo="cli"
	 		}
   {/exp:freeform:entries}
{/exp:user:stats}

<div class="container-fluid pt-35 pb-35 mh-630">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
	  <h1>Gracias por su solicitud de documentos</h1>
	  <p>Le enviaremos su documento en menos de 24 horas.</p>
	  <p><a href="{site_url}main/user_apartment_show/{member_id}">Ir a mi departamento</a></p>	  
  </div>
</div>
</div>

{embed="includes/footer"}