<?php session_start(); 
// $id_sol_garantia="{segment_3}"; 
$site_url="{site_url}"; 
echo "var session sol ".$_SESSION['id_sol_garantia'];?>

{embed="includes/header" }
{exp:generar_fechas tipo_cal="insp"}

  <div ng-controller="UserCalendarCtrl">
    <div class="calendar" ng-model="eventSources.inspecciones" calendar="calendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
  </div>

<?php
$dia_sel="{segment_4}";
$hora=$_GET['hora'];
$id_cliente="{member_id}";
?>
{embed="includes/bredcrumbs"}

<!--   {embed="includes/ver_reagenda" entrada="{segment_3}" paso="3"} -->

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
      <div class="panel bg-white box-shadow">
        <div class="panel-heading">
          <div class="clearfix">
            <div class="col-sm-6 pl-0">
              <h4 class="uppercase medium"><i class="icon-calendar"></i> Agendar Solicitud</h4>
            </div>
            <div class="col-sm-6 text-right">
              <div>
                <small>
                  <span class="bold">Horarios de inspección</span><br>
                  9:00 am - 2:00 pm de lunes a viernes
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body p-0">
          <div id="calendar"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="box-shadow border-rounded bg-white p-14">

        <form method="post" enctype="multipart/form-data" name="frm" id="frm" onSubmit="return validar(this)" action="/?/main/guardar_3er_paso" >

          <label for="">Fecha seleccionada:</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="icon-calendar"></i></span>
            <input type="text" class="form-control" placeholder="DD/MM/AAAA" name="fecha_atencion_ticket" value="<?php echo $dia_sel; ?>" required>
          </div>
          <div class="form-group pt-14">
            <small>Asegúrate que puedes estar en tu departamento en la fecha y hora que agendas tu cita. Te enviaremos una notificación y un correo el día anterior para recordarte.</small>
          </div>

          <div class="form-group">
            <small>Asigna a alguien para coordinar la inspección <a data-toggle="collapse" href="#form-collapse" class="underline">aquí</a></small>
          </div>

          <!-- {exp:freeform:entries form_id="4" search:id_sol_garantia="{segment_3}" search:orden_tramite="3" limit="1" status="open|closed"}
          <?php  $rel=strtolower("{freeform:field:relacion_dueno_departamento}"); $due="{freeform:field:dueno_atiende_ticket}";?>

          <div class="form-group">
            <?php 
            if($due=="no"){ ?>
              <small>Edite los datos de la persona responsable de la inspección.</small> 
            <?php }
            else{ ?>
              <small>Asigna a alguien para coordinar el arreglo <a data-toggle="collapse" href="#form-collapse" class="underline">aquí</a></small> 
            <?php } ?>

          </div> -->

          <!-- <div id="form-collapse" <?php if($due=="no"){}else{ echo "class='collapse'";} ?>> -->
          <div id="form-collapse" class="collapse">
            <div class="form-group">
              <small>Relacion con el dueño del departamento</small> 
              <select name="relacion_dueno_departamento" class="form-control select-override">
                <option value="">Seleccione</option>
                <option value="Familiar" >Familiar</option>
                <option value="Amigo" >Amigo</option>
              </select>
            </div>
            <div class="form-group">
              <small>Nombre del encargado de la atención</small> 
              <input type="text" placeholder="Nombre" name="nombre_encargado_atencion" class=" form-control" >
            </div>
            <div class="form-group">
              <small>Celular del encargado de la atención</small> 
              <input type="text" placeholder="Celular" name="celular_encargado_atencion" class=" form-control" >
            </div>
            <div class="form-group">
              <small>Correo electrónico del encargado de la atención</small> 
              <input type="email" placeholder="Correo electrónico" name="email_encargado_atencion" class=" form-control" >
            </div>
            <!-- {/exp:freeform:entries} -->

        </div>
              <input type="hidden" name="XID" value="{XID_HASH}" /> 
              <input type="hidden" placeholder="id_cliente" name="id_cliente" class=" form-control input-lg" value="<?php echo $id_cliente; ?>">
              <input type="hidden" placeholder="id_sol_garantia" name="id_sol_garantia" class=" form-control input-lg" 
              value="<?php echo $id_sol_garantia; ?>">
              <input type="hidden" placeholder="orden_tramite" name="orden_tramite" class=" form-control input-lg" value="2">
              <input type="submit" class="btn btn-sm btn-info" value="Agendar">
        </form>

      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
{embed="includes/footer"}
