{embed="includes/header" }
{exp:generar_fechas tipo_cal="insp"}

<?php $id_sol_garantia="{segment_3}"; $site_url="{site_url}"; ?>

<script src='{site_url}lib/jquery.min.js'></script>
<script src='{site_url}lib/jquery-ui.custom.min.js'></script>
<script src='{site_url}fullcalendar/fullcalendar.min.js'></script>
<script>

  var $id_sol = <?php echo json_encode($id_sol_garantia);?>

  $(document).ready(function(){
    if ($(window).width() < 768) {
        $('#calendar').fullCalendar({
          defaultView: "agendaDay",
          allDaySlot: false,
          minTime: 8,
          maxTime: 22,
          timeFormat: {
            agenda: 'h:mm{ - h:mm}TT'
          },
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaDay'
          },
          buttonText: {
            prev:     '&lsaquo;', // <
            next:     '&rsaquo;', // >
            prevYear: '&laquo;',  // <<
            nextYear: '&raquo;',  // >>
            today:    'Ver el día de hoy',
            month:    'mes',
            week:     'semana',
            day:      'día'
          },
          columnFormat: {
            month: 'ddd',    // Mon
            week: 'ddd d/M', // 9/7 Mon
            day: 'dddd M/d'  // 9/7 Monday 
          },
          monthNamesShort: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
          dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
          dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
          editable: false,
          hiddenDays: [0, 6],

          events: "http://162.243.222.54/fullcalendar/new_fechas_insp.php?id_sol_garantia="+$id_sol,

        });
      } else {
        $('#calendar').fullCalendar({
          defaultView: "month",
          allDaySlot: false,
          minTime: 8,
          maxTime: 22,
          timeFormat: {
            agenda: 'h:mm{ - h:mm}TT'
          },
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,basicWeek'
          },
          buttonText: {
            prev:     '&lsaquo;', // <
            next:     '&rsaquo;', // >
            prevYear: '&laquo;',  // <<
            nextYear: '&raquo;',  // >>
            today:    'Ver el día de hoy',
            month:    'mes',
            week:     'semana',
            day:      'día'
          },
          columnFormat: {
            month: 'ddd',    // Mon
            week: 'ddd d/M', // 9/7 Mon
            day: 'dddd M/d'  // 9/7 Monday 
          },
          monthNamesShort: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
          dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
          dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
          editable: false,
          hiddenDays: [0, 6],

          events: "http://162.243.222.54/fullcalendar/new_fechas_insp.php?id_sol_garantia="+$id_sol,

        });
      }
    }
  );

</script>

<?php
$dia_sel="{segment_4}";
$hora=$_GET['hora'];
$id_cliente="{member_id}";
?>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      {exp:user:stats}
      <ol class="breadcrumb">
        <li><a href="{site_url}main/user_dashboard/{member_id}">Panel de control</a></li>
        <li><a href="#">Mis solicitudes</a></li>
        <li><a href="#">Solicitud</a></li>
        <li class="active">Agendar solicitud</li>
      </ol>
      {/exp:user:stats}
    </div>
    <div class="col-sm-1"></div>
  </div>

  {embed="includes/ver_reagenda" entrada="{segment_3}" paso="3"}

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
      <div class="panel bg-white box-shadow">
        <div class="panel-heading">
          <div class="clearfix">
            <div class="col-sm-6 pl-0">
              <h4 class="uppercase medium"><i class="icon-calendar"></i> Agendar Solicitud</h4>
            </div>
            <div class="col-sm-6 text-right">
              <div>
                <small>
                  <span class="bold">Horarios de inspección</span><br>
                  9:00 am - 2:00 pm de lunes a viernes
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body p-0">
          <div id="calendar"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="box-shadow border-rounded bg-white p-14">

        <form method="post" enctype="multipart/form-data" name="frm" id="frm" action="/?/main/guardar_3er_paso" >

          <label for="">Fecha seleccionada:</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="icon-calendar"></i></span>
            <input type="text" class="form-control" placeholder="DD/MM/AAAA" name="fecha_atencion_ticket" value="<?php echo $dia_sel; ?>">
          </div>
          <div class="form-group pt-14">
            <small>Asegúrate que puedes estar en tu departamento en la fecha y hora que agendas tu cita. Te enviaremos una notificación y un correo el día anterior para recordarte.</small>
          </div>

          {exp:freeform:entries form_id="4" search:id_sol_garantia="{segment_3}" search:orden_tramite="3" limit="1" status="open|closed"}
          <?php  $rel=strtolower("{freeform:field:relacion_dueno_departamento}"); $due="{freeform:field:dueno_atiende_ticket}";?>

          <div class="form-group">
            <?php 
            if($due=="no"){ ?>
              <small>Edite los datos de la persona responsable de la inspección.</small> 
            <?php }
            else{ ?>
              <small>Asigna a alguien para coordinar el arreglo <a data-toggle="collapse" href="#form-collapse" class="underline">aquí</a></small> 
            <?php } ?>

          </div>

          <div id="form-collapse" <?php if($due=="no"){}else{ echo "class='collapse'";} ?>>
            <div class="form-group">
              
              <select name="relacion_dueno_departamento" class="form-control select-override">
                <option value="">Seleccione</option>
                <option value="Familiar" <?php if($rel=="familiar"){echo 'selected="selected"';} ?>>Familiar</option>
                <option value="Amigo" <?php if($rel=="amigo"){echo 'selected="selected"';} ?>>Amigo</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" placeholder="Nombre" name="nombre_encargado_atencion" class=" form-control" 
              value="{freeform:field:nombre_encargado_atencion}">
            </div>
            <div class="form-group">
              <input type="text" placeholder="Celular" name="celular_encargado_atencion" class=" form-control" value="{freeform:field:celular_encargado_atencion}">
            </div>
            <div class="form-group">
              <input type="email" placeholder="Correo electrónico" name="email_encargado_atencion" class=" form-control" value="{freeform:field:email_encargado_atencion}">
            </div>
            {/exp:freeform:entries}

        </div>
              <input type="hidden" name="XID" value="{XID_HASH}" /> 
              <input type="hidden" placeholder="id_cliente" name="id_cliente" class=" form-control input-lg" value="<?php echo $id_cliente; ?>">
              <input type="hidden" placeholder="id_sol_garantia" name="id_sol_garantia" class=" form-control input-lg" 
              value="<?php echo $id_sol_garantia; ?>">
              <input type="hidden" placeholder="orden_tramite" name="orden_tramite" class=" form-control input-lg" value="2">
              <input type="submit" class="btn btn-sm btn-info" value="Agendar">
        </form>

      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
{embed="includes/footer"}