{embed="includes/header" }

{exp:member:custom_profile_data}

{exp:switchee variable = "{member_group}" parse="inward"}
    
    {case value="user_dep"}
        <script type="text/javascript"> window.location="cambio_de_clave"; </script> <!-- dueño de departamento -->
    {/case}
    
    {case value="admin_viva"}
        <script type="text/javascript"> window.location="viva_dashboard"; </script><!-- admin viva -->
    {/case}

    {case value="admin_gym"}
        <script type="text/javascript"> window.location="gym_dashboard"; </script><!-- admin GyM -->
    {/case}

    {case value="insp_viva"}
        <script type="text/javascript"> window.location="insp_viva"; </script><!-- inspector viva -->
    {/case}

    {case value="user_gym"}
        <script type="text/javascript"> window.location="user_gym"; </script><!-- personal GyM que ejecuta el arreglo -->
    {/case}
    
  
{/exp:switchee}

{/exp:member:custom_profile_data}
<!--<script type="text/javascript"> window.location="user_gym"; </script> -->