{embed="includes/header" }
<script type="text/javascript" src="{site_url}lib/vendor/bootstrapValidator.js"></script>
<script type="text/javascript" src="{site_url}lib/user_setup.js"></script>

  <div class="row">
    <!-- BEGIN FORM -->

      <div class="col-sm-2"></div>

      <div class="col-sm-8">
        <!-- EDIT -->
        <h4 class="bold">Bienvenido al nuevo portal de post-venta de Viva GyM</h4>
        <p>A través de esta plataforma podrás canalizar de manera rápida y efectiva los requerimientos de tu depa.</p>
        <strong>Empieza completando tu perfil:</strong>
        
        <!-- return="main/user_dashboard/{member_id}"    return="main/user_setup/{member_id}"-->
        {exp:user:edit return="main/user_dashboard/{member_id}" form:class="user-setup-form" form:id="user-setup-form"} 
          <input type="hidden" name="logged_in_member_id" value="{logged_in_member_id}">
        
        <div class="row">
          <div class="col-sm-8">
            <div class="bg-white border-rounded box-shadow mt-21 p-14">
              <h4 class=" text-warning">Datos del Propietario - <small>(<span class="text-danger">*</span>) Campo obligatorio</small></h4>              
              <div class="row mt-14">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="nombre_propietario">Nombre <sup class="text-danger">*</sup></label>
                    <input type="text" class="form-control " placeholder="* Nombre" name="nombre_propietario"  value="{nombre_propietario}">
                  </div>
                  <div class="form-group">
                    <label for="ap_pat">Apellido paterno <sup class="text-danger">*</sup></label>
                    <input type="text" class="form-control " placeholder="* Apellido paterno" name="ap_pat" value="{ap_pat}">
                  </div>
                  <div class="form-group">
                    <label for="ap_mat">Apellido materno <sup class="text-danger">*</sup></label>
                    <input type="text" class="form-control " placeholder="* Apellido materno" name="ap_mat"  value="{ap_mat}">
                  </div>
                  <div class="form-group">
                    <label for="email">E-mail <sup class="text-danger">*</sup></label>
                    <input type="email" class="form-control " placeholder="* E-mail" name="email_propietario" value="{email_propietario}">
                  </div>
                </div>
                
                <div class="col-md-6">                  
                  <div class="form-group">
                    <label for="t_cel">Teléfono celular<sup class="text-danger">*</sup></label>
                    <input type="text" class="form-control " placeholder="* Teléfono celular" name="t_cel" value="{t_cel}">
                  </div>
                  <div class="form-group">
                    <label for="t_fijo">Teléfono fijo</label>
                    <input type="text" class="form-control " placeholder="Teléfono fijo" name="t_fijo" value="{t_fijo}">
                  </div>
                  <div class="form-group">
                    <label for="t_ofic">Teléfono oficina</label>
                    <input type="text" class="form-control " placeholder="Teléfono oficina" name="t_ofic" value="{t_ofic}">
                  </div>
                  <div class="form-group">
                    <label for="t_conyu">Teléfono cónyuge</label>
                    <input type="text" class="form-control " placeholder="Teléfono cónyuge" name="t_conyu" value="{t_conyu}">
                  </div> 
                </div>
              
              </div>
            </div>
            <div class="bg-white border-rounded box-shadow mt-21 p-14 hidden datos-inquilino">
              <h4 class=" text-warning">Datos del Inquilino</h4>              
              <small class="help-block">Por favor completa los siguientes datos del inquilino del departamento:</small>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="nombre_inq">Nombre</label>
                    <input type="text" class="form-control " placeholder="Nombre" name="nombre_inq"   value="{nombre_inq}">
                  </div>
                  <div class="form-group">
                    <label for="ap_pat_inq">Apellido paterno</label>
                    <input type="text" class="form-control " placeholder="Apellido paterno" name="ap_pat_inq"   value="{ap_pat_inq}">
                  </div>
                  <div class="form-group">
                    <label for="ap_pat_inq">Apellido materno</label>
                    <input type="text" class="form-control " placeholder="Apellido materno" name="ap_mat_inq"   value="{ap_mat_inq}">
                  </div>
                  <div class="form-group">
                    <label for="email_inquilino">E-mail</label>
                    <input type="email" class="form-control " placeholder="E-mail" name="email_inquilino"   value="{email_inquilino}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="telf_inq">Teléfono</label>
                    <input type="text" class="form-control " placeholder="Telefono" name="telf_inq"   value="{telf_inq}">
                  </div>
                  <div class="form-group">
                    <label for="telf_cel_inq">Teléfono celular</label>
                    <input type="text" class="form-control " placeholder="Teléfono celular" name="telf_cel_inq"   value="{telf_cel_inq}">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="bg-white border-rounded box-shadow mt-21 p-14">
              <h5>¿Alquilas tu depa?</h5>
              <div class="form-group"><?php $prop="{propietario}"; ?>
                <select name="propietario" class="form-control select-override option-select">
                  <option value="default" selected="selected">Selecciona una opción</option>
                  <option value="Si" >Si</option>
                  <option value="No" >No</option>
                </select>
              </div>
              <div class="text-right button-submit">
                <button type="submit" class="btn uppercase btn-success form-control">Procesar</button>
              </div>
            </div>
          </div>
        </div>

        {/exp:user:edit}
      </div>

      <div class="col-sm-2"></div>
    
    <!-- END FORM -->
  </div>


    </div>
    <footer class="bg-inverse">
      <div class="container-fluid">
        <div class="row pt-14 pb-14 text-center">
          <div class="col-md-3 pt-7">
            <p class="small">Copyright 2012. VivaGyM.<br>Todos los derechos reservados</p>
          </div>
          <div class="col-md-3 pt-14">
            <a href="{site_url}main/libro_reclamaciones" class="text-gray">Libro de reclamaciones</a>
          </div>
          <div class="col-md-3 pt-14">
            <a href="{site_url}main/preguntas_frecuentes" class="uppercase text-gray">Preguntas frecuentes </a> <i class="icon-help"></i>
          </div>
          <div class="col-md-3 pt-14">
            <!-- <a href="#"  class="uppercase text-gray">Emergencia </a> <i class="icon-warning"></i> -->
          </div>
        </div>
      </div>
    </footer>
  </body>
  <!--[if IE]>
  <script src="{site_url}lib/jquery-1.11.1.min.js"></script>
  <![endif]-->
</html>