{embed="includes/header" }

<?php session_start(); 
// $id_sol_garantia="{segment_3}"; 
$site_url="{site_url}"; 
$id_sol_garantia=$_SESSION['id_sol_garantia'];?>

<?php
$dia_sel="{segment_3}";
$hora=$_GET['hora'];
$id_cliente="{member_id}";
?>
{embed="includes/bredcrumbs" ticket="<?php echo $id_sol_garantia; ?>"}

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
      <div class="panel bg-white box-shadow">
        <div class="panel-heading">
          <div class="clearfix">
            <div class="col-sm-6 pl-0">
              <h4 class="uppercase medium"><i class="icon-calendar"></i> Agendar Solicitud</h4>
            </div>
            <div class="col-sm-6 text-right">
              <div>
                <small>
                  <span class="bold">Horarios de arreglos</span><br>
                  9:00 am - 2:00 pm de lunes a viernes
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body p-0">
          <div ng-controller="UserCalendarCtrl">
            <div class="calendar" ng-model="eventSources.arreglos" calendar="calendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="box-shadow border-rounded bg-white p-14">

        <form method="post" enctype="multipart/form-data" name="frm" id="frm" onSubmit="return validar(this)" action="/?/main/guardar_4to_paso" >

          <label for="">Fecha seleccionada:</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="icon-calendar"></i></span>
            <input type="text" class="form-control" placeholder="DD-MM-AAAA" name="fecha_atencion_ticket" value="<?php echo $dia_sel; ?>" required>
          </div>
          <div class="form-group pt-14">
            <small>Asegrate que puedes estar en tu departamento en la fecha y hora que agendas tu cita. Te enviaremos una notificacin y un correo el da anterior para recordarte.</small>
          </div>

          <div class="form-group">
            <small>Asigna a alguien para coordinar la inspeccin <a data-toggle="collapse" href="#form-collapse" class="underline">aqu</a></small>
          </div>

          <div id="form-collapse" class="collapse">
            <div class="form-group">
              
              <select name="relacion_dueno_departamento" class="form-control select-override">
                <option value="">Seleccione</option>
                <option value="Familiar">Familiar</option>
                <option value="Amigo">Amigo</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" placeholder="Nombre" name="nombre_encargado_atencion" class=" form-control" >
            </div>
            <div class="form-group">
              <input type="text" placeholder="Celular" name="celular_encargado_atencion" class=" form-control" >
            </div>
            <div class="form-group">
              <input type="email" placeholder="Correo electrnico" name="email_encargado_atencion" class=" form-control" >
            </div>

        </div>
              <input type="hidden" name="XID" value="{XID_HASH}" /> 
              <input type="hidden" placeholder="id_cliente" name="id_cliente" class=" form-control input-lg" value="<?php echo $id_cliente; ?>">
              <input type="hidden" name="id_sol_garantia" value="<?php echo $id_sol_garantia; ?>">
              <input type="hidden" placeholder="orden_tramite" name="orden_tramite" class=" form-control input-lg" value="4">
              <input type="submit" class="btn btn-sm btn-info" value="Agendar">
        </form>

      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
{embed="includes/footer"}
