{embed="includes/header"}

{exp:get_post_vars parse="inward"}
	{exp:confirm_sol:viva_approve_sol 
		id_sol_garantia="{post_id_sol_garantia}" 
		acc="{post_aprobar_paso}"
		paso="2"
		dir="{post_dir}"
		comentarios="{post_comentarios}"
		prioridad="{post_prioridad}"
		persona_asignada_gym="{post_persona_asignada_gym}"
	}
	{/exp:confirm_sol:viva_approve_sol}
{/exp:get_post_vars}

<?php
$id_sol_garantia=$_POST['id_sol_garantia'];
$acc=$_POST['aprobar_paso'];
$paso="2";
$dir=$_POST['dir'];
$comentarios=$_POST['comentarios'];
$prioridad=$_POST['prioridad'];
$persona_asignada_gym=$_POST['persona_asignada_gym'];
?>

{exp:get_post_vars parse="inward"}
	{if post_acc=="no-fmant" OR post_acc=="no-fgar"}
		{exp:member:custom_profile_data}
			{exp:generar_comentario member_id="{member_id}" id_sol_garantia="{post_id_sol_garantia}" texto="{post_comentarios}" acc="no"}
		{/exp:member:custom_profile_data}
	{/if}
{/exp:get_post_vars}

{exp:get_post_vars parse="inward"}
	{exp:user:stats member_id="{post_id_cliente}"}
		{exp:mandrillapp:send_email_viva_approve_sol 
		  to="{email_propietario}"
		  name="{nombre_propietario}"
		  from="admin@gym.com"
		  acc="{post_aprobar_paso}"
		  id_sol_garantia="{post_id_sol_garantia}"
		  comentarios="{post_comentarios}" }
		{/exp:mandrillapp:send_email_viva_approve_sol}
	{/exp:user:stats} 
{/exp:get_post_vars}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<?php 
  	if (($acc=="si-gar") or ($acc=="si-exc")){ ?>
  		<h1>¡Listo! La inspección para la solicitud #<?php echo $id_sol_garantia; ?> ha sido APROBADA </h1>
  	<?php } else { ?> 
  		<h1>¡Listo! La inspección para la solicitud #<?php echo $id_sol_garantia; ?> ha sido RECHAZADA </h1>
  	<?php } ?>

  	<p>
  		{exp:get_post_vars parse="inward"}
  			{embed="main/datos_user" user_id="{post_id_cliente}" }
  		{/exp:get_post_vars}</p>
	  <p>Puedes hacerle seguimiento a las solicitudes en la sección de “Panel de control”</p>
	  <p><a href="{site_url}main/admin_dashboard">Ir a Panel de control</a></p>	  
  </div>
</div>

