{embed="includes/header"}

{exp:get_post_vars parse="inward"}
	{exp:confirm_sol:viva_close 
		id_sol_garantia="{post_id_sol_garantia}" 
		id_cliente="{post_id_cliente}"
		paso="10"
		entry_id="{post_entry_id}"
	}
	{/exp:confirm_sol:viva_close}
{/exp:get_post_vars}

{exp:get_post_vars parse="inward"}
	{exp:user:stats dynamic="off" member_id="{post_id_cliente}"}
		{exp:mandrillapp:send_email_viva_cierre 
		  to="{email_propietario}"
		  name="{nombre_propietario}"
		  from="admin@gym.com"
		  id_sol_garantia="{post_id_sol_garantia}"
		  }
	{/exp:user:stats}
{/exp:get_post_vars}

{embed="includes/footer"}